.benefit-card{
	background-color: rgba(255,255,255, .4);
	padding:  remy(18) remy(16);
	border: 2px solid #dee5eb;
	padding-right: remy(12);
	width: 100%;
	max-width: remy(324);
	// min-width: remy(324);
	flex-shrink: 0;
	.fw-600{
		font-size: remy(20);
		font-weight: 600;
		line-height: 120%;
		color: #333;
		font-family: var(--third-family);
	}
	&:last-child{margin-right: remy(8);}
	
	.h-28 {margin-bottom: remy(20);}
	
	@media (min-width: 1200px) {
		max-width: remy(428);
		padding-right: remy(12);
		 flex: 1 1 0;
		padding: remy(24);
		
		// grid-column: span 4;
		&:last-child{margin-right: 0;}
	}
}
.aboutus{overflow: hidden;}
.aboutus-content{
	column-gap:remy(12);
	
	@media (min-width: 1440px) {
		grid-template-columns: repeat(12, 1fr);
		
		column-gap:remy(16);
	}
}
.benefit-card__icon, .advantage-card__icon{
	width: remy(40);
	height: remy(40);
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: remy(24);
	margin-left: remy(16);
	
	&:after{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);z-index: 1;
		content:'';
		width: 100%;
		height: 100%;
		border-radius: 50%;background: #f5802a;filter: blur(9px);
	}
	
	i,svg{fill: rgb(255, 255, 325); position: relative;
	z-index: 2; color: white; font-size: remy(18);}
	@media (min-width: 1200px) {
		width: remy(50);
		height: remy(50);
		margin-bottom: remy(32);
		i{ font-size: remy(24);}
	}
}