.freezone-swiper{
	height: 370px;
	.swiper-slide{
		width: 358px!important;
	}
	@media (min-width: 1024px) {
		height: auto;
		.swiper-wrapper{
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
			gap: 1rem;
			.swiper-slide{
				width: calc((100% - 2rem)/2)!important;
				
			}
			.card .card-header{
				font-size: 20px;
				line-height: 120%;
				color: #333;
			}
		}
	}
	@media (min-width: 1320px) {
		.swiper-wrapper{
			.swiper-slide{width: calc((100% - 2rem)/3)!important;}
		}
	}
}
.accordion.swiper .card{margin-bottom: 0;}