
.header{
	padding-top: remy(8);
	padding-bottom: remy(8);
	position: relative;
	z-index: 2;
	transition: padding .5s; 
	.navbar-toggler{border:0;
	padding-left: 0; padding-right: 0;}
	@media (min-width: 992px) {
		padding-top: remy(24);
	    padding-bottom: 1rem;
	   }
}

@media (min-width: 1200px) {
	.header .hero-content-wrapper .container-fluid{padding-left: remy(24); padding-right: remy(24);}
	.header.fixed-header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: var(--body-bg);
		padding-top: .5rem!important;
		padding-bottom: .5rem!important;
		.logo-img{width: remy(80);}
	}
}
@media (max-width: 1199px) {
	.header.fixed-header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: var(--body-bg);
	}
}

 .logo-img{
	width: 3em;
	transition: .6s; 
	@media (min-width: 768px) {
	 width: remy(121);
	}
}
.header .nav-content.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.nav-content .dropdown-menu{
	width: max-content;
}
.header .navbar-brand{
	margin-right: remy(56);
}
.header .dropdown-item{
	font-size: 1rem;
}
.header .header-column{
	margin-top: remy(12);
	flex-direction: column;
	row-gap: 1rem;
	align-items:flex-start;
	@media (min-width: 1200px) {
		flex-direction: row;
		column-gap: remy(28);
		margin-top: 0;
		align-items:center;
	   }
}
.lang-dropdown .dropdown-menu{
	min-width: 6rem!important;
	
}
.lang-dropdown img{
	border-radius: remy(4);
	object-fit:cover;
	display: inline;
}