.hero.inner-hero{
	.benefit-chips{
		position: relative;
		inset:0;
		display: flex;
		column-gap:remy(6);
		backdrop-filter: blur(5px);
		background: var(--in-sight-ae-white-400);
		border-radius: remy(12);
		@media (min-width: 768px) {
			column-gap:remy(24);
		
		}
		
	}
	.benefit-chips-group{
		z-index: 3;
		&>*{
			transform: unset;
			max-width: unset;
			
			width: 100%;
			max-width: remy(358);
			padding: remy(17) remy(25);
			z-index: 5;
			@media (min-width: 1200px) {
				max-width: remy(526);
			}
		}
		&>* + *{margin-top: 16px;}
		@media (min-width: 768px) {
		position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-25%, -52%);
		}
		@media (min-width: 1200px) {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-25%, -52%);
			z-index: 5;
		}
	}
}
.business-support-hero .benefit-chips-group >*{border: 1px solid var(--color-azure-90);}
.hero.inner-hero{
	.breadcrumb-list{margin-bottom: remy(30);}
	.hero-content{
		width: 100%;
		max-width: remy(600);
		column-gap: remy(24);
		flex-shrink: 0;
		.hero-text{font-size: remy(14);}
		
	}
	.hero-text .txt-20{color: #333;}
	.hero-img-group{margin-top: remy(30);}
	@media (min-width: 768px) {
		.hero-img-group{
			right:0;
			transform: translateX(112%);
			margin-top: 0;
			position: absolute;
			top: 0;
			bottom:0;
			&:after{width: 80%;}
			.hero-img{height: 100%; min-height: remy(430);}
		}
		.hero-content{width: 50%;}
	}
	@media (min-width: 1200px) {
		.btn.btn-primary{height:remy(58)}
		.hero-content .hero-text{font-size: 1rem;}
		 
		.hero-img-group{transform: translateX(125%);}
		.hero-img-group .hero-img{ min-height: remy(531); bottom: auto;max-height: remy(664); top:remy(-50)}
	}
	@media (min-width: 1440px) {.hero-img-group{transform: translateX(120%);}}
	
}
