.reg-processing{
	overflow: hidden;
}
.reg-processing-content{
	align-items: flex-start;
	flex-direction: column;
	row-gap:remy(22);
	@media (min-width: 768px) {
	flex-direction: row;
	}
}

.reg-processing__descrip{
	flex-grow:1;
}
.reg-processing__column{
	width: 50%;
	flex-shrink: 0;
}

.reg-processing__img{
	border-radius: remy(160);
	overflow: hidden;
	width: 358px;
	
	border-radius: remy(70);
	img{aspect-ratio: 358/279;}
	
	@media (min-width: 768px) {
	  border-radius: remy(100);
	  width: 779px;
	  transform: translateX(-58%);
	   img{
		aspect-ratio: 779/608;
		object-fit: cover;
		
		}
	}
	@media (min-width: 1200px) {
	
	
	 transform: translateX(-36%);
	}	
	@media (min-width: 1440px) {
	
	 border-radius: remy(160);
	 transform: translateX(-23%);
	}	
}
.reg-processing__descrip{
	
	.round-marker-ol{margin-bottom: remy(30);}
	@media (min-width: 1200px) {
		padding-left: remy(40);
		.round-marker-ol{margin-bottom: remy(52);}
	}
}
.reg-processing__descrip .round-marker-ol {
	max-width:remy(490);
}
.info-round-card{
	padding: remy(20);
	border-radius: remy(24);
	background: #fff;
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(24);
	line-height: 120%;
	
	line-height: 150%;
    color: #747985;
	.txt-24{font-size: remy(24);}
	.txt-16{
		line-height: 1.33;
		font-size: remy(12);
		@media (min-width: 1024px) {
		font-size: remy(16);
		line-height: 1.5;
		}
	}
}
