.registr-account-hero.hero{
	@media (min-width: 768px) {
		.hero-content{
			max-width: remy(700);
			width:50%;
		}
		.hero-img-group{
			right: remy(-50);
			transform: translate(100%, -50%);
		}
	}
		
	
	@media (min-width: 1200px) {
		.width-limit{max-width:remy(475);}
		.hero-content{width: 55%;}
		.hero-text{
			margin-bottom: remy(42);
			p+p{margin-top: remy(42);}
		}
		.hero-img-group{
			right: remy(-50);
			transform: translate(100%, -50%);
			max-height: remy(664);
		}
	}
}
.hero-img-group.hero-img--noafter:after{display: none;}