.solve-card{
	font-family: var(--second-family);
	font-size: remy(16);
	color: rgba(51, 51, 51, 0.75);
	padding: remy(12) remy(16);
	padding-top: remy(56);
	border-radius: remy(24);
	background-color: #fff;
	@media (min-width: 768px) {
		
		padding-top: remy(12);
	}
	@media (min-width: 992px) {
		background-color: transparent;
	}
	&__num{
		font-weight: 700;
		line-height: 150%;
		margin-bottom: remy(10);
		display: none;
		@media (min-width: 768px) {
		display: block;
		}
	}
	&__title{
		
		font-weight: 700;
		font-size: remy(24);
		line-height: 120%;
		color: #333;
		margin-bottom: remy(10);
		@media (min-width: 1200px) {
		   font-size: 2rem;
		   margin-bottom: 1rem;
		}
	}
	&__txt{
		font-family: var(--font-family);
		font-weight: 400;
		font-size: remy(14);
		line-height: 129%;
		@media (min-width: 1200px) {
		   line-height: 150%;
		}

	}
	ul{
		padding-left: remy(20);
		li+li{margin-top: 10px;}
		@media (min-width: 1200px) {
		   padding-left: remy(24);
		}
	}
}
.we-solve .section-header-group{
	@media (min-width: 768px) {
	margin-bottom: remy(40);
	}
}
.swiper-navigation{
	justify-content: center;
	column-gap:remy(12);
	position: relative;
	margin-top: remy(30);
}
.we-solve-swiper .swiper-wrapper{
	display: flex;
	.swiper-slide{
		
		@media (min-width: 1200px) {
		height: unset!important;
		display: flex;
		}
	}
}
.solve-swiper-pagination{
	position: absolute;
	top: 20px;
	left: 20px;
	width: fit-content;
    height: fit-content;
	z-index: 5;
	font-family: var(--second-family);
	font-size: remy(16);
	color: rgba(51, 51, 51, 0.75);
	font-weight: 700;
	line-height: 150%;
	@media (min-width: 768px) {
		display: none!important;
	}
}