.section-header-group.mb-5{
	@media (max-width: 767.99px) {
		margin-bottom: remy(-10);
	}
}
.work-stages-content{
	position: relative;
	width: remy(358);
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 768px) {
	  max-width: remy(1920);
	  width: 100%;
	}
	.work-stages-img{
		position: absolute;
		left: 50%;
		top:0;
		transform: translate(-50%, 0);
		@media (min-width: 768px) {
			left: 0;
			right: 0;
			top:47%;
			transform: translate(0,-50%);
		}
	}
	.work-stage-item{
		width: remy(318);
		flex-shrink: 0;
		flex-direction: column-reverse;
		row-gap:remy(16);
		align-items: center;
		height: fit-content;
		
		
		.txt-16{
			font-family: var(--font-family);
			font-weight: 400;
			font-size: remy(16);
			line-height: 120%;
			text-align: center;
			color: #333;
			margin-bottom: 0;
			@media (min-width: 768px) {
				font-size: remy(16);
			}
			@media (min-width: 1200px) {
				font-size: remy(20);
			}
			
		}
		.work-stage-icon{
			    width: remy(57);
				height: remy(57);
				justify-content: center;
				align-items: center;
				position: relative;
				
				margin-left: remy(16);
				align-items: center;
				justify-content: center;
				font-family: var(--second-family);
				font-weight: 700;
				font-size: 32px;
				line-height: 75%;
				color: #fff;
				&:after{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);z-index: 1;
					content:'';
					width: 100%;
					height: 100%;
					border-radius: 50%;background: #f5802a;filter: blur(9px);
				}
				svg{fill: rgb(255, 255, 325); position: relative;
				z-index: 2;}
				
		}

		@media (min-width: 768px) {
			width: 24.24%;
			justify-content: flex-end;
			flex-direction: column;
			row-gap:remy(24);
		}
	}
	
	.work-stage-item:nth-child(2n){
		
		@media (min-width: 768px) {
			align-self: flex-end;
		   flex-direction: column-reverse;
		}
		
	}
	.work-stage-item+.work-stage-item{
		
		@media (min-width: 768px) {
			margin-left: -6%;
		}
		
	}
	.work-stage-item:nth-child(3){
		
		
		
	}
	.work-stage-item:nth-child(3){
		padding-top: remy(24);
		@media (min-width: 768px) {
		padding-top: remy(10);
		}
	}
}
.work-stages-list{
	position: relative;
	z-index: 2;
	flex-direction: column;
	row-gap: remy(70);
	padding-top: remy(65);
	@media (min-width: 768px) {
	  height: remy(400);
	  flex-direction: row;
	  padding-top: 0;
	}
}
.work-stages.business-support-stages{
	.work-stage-item{position: relative;}
	@media (min-width: 768px) {

		.work-stage-item:first-child{
		   top:-20px;
		}
		.work-stage-item:nth-child(2){
		   top:-45px;
		}
		.work-stage-item:nth-child(3){
		   top:-10px;
		}
		.work-stage-item:nth-child(4){
		   top:-65px;
		   right:-30px;
		}
		.work-stage-item:nth-child(5){
		   top:20px;
		}
	}
	
}
.work-stages{
	@media (max-width: 767.99px) {
		.work-stage-item{left:remy(-52);}
		.work-stage-item:nth-child(odd){
			left: remy(22);
		}
		.work-stage-item:nth-child(5){
		   margin-top:(-45);
		}
	}
}