.work-stages-content{
	position: relative;
	max-width: remy(1920);
	margin-left: auto;
	margin-right: auto;
	
	.work-stages-img{
		position: absolute;
		left: 0;
		right: 0;
		top:47%;
		transform: translateY(-50%);
	}
	.work-stage-item{
		width: 24.24%;
		flex-shrink: 0;
		flex-direction: column;
		row-gap:remy(24);
		align-items: center;
		height: fit-content;
		justify-content: flex-end;
		
		.txt-16{
			font-family: var(--font-family);
			font-weight: 400;
			font-size: remy(16);
			line-height: 120%;
			text-align: center;
			color: #333;
			margin-bottom: 0;
			@media (min-width: 768px) {
				font-size: remy(16);
			}
			@media (min-width: 1200px) {
				font-size: remy(20);
			}
			
		}
		.work-stage-icon{
			width: remy(40);
				height: remy(40);
				justify-content: center;
				align-items: center;
				position: relative;
				
				margin-left: remy(16);
				align-items: center;
				justify-content: center;
				font-family: var(--second-family);
				font-weight: 700;
				font-size: 32px;
				line-height: 75%;
				color: #fff;
				&:after{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);z-index: 1;
					content:'';
					width: 100%;
					height: 100%;
					border-radius: 50%;background: #f5802a;filter: blur(9px);
				}
				svg{fill: rgb(255, 255, 325); position: relative;
				z-index: 2;}
				@media (min-width: 1200px) {
					width: remy(50);
					height: remy(50);
					
				}
		}
	}
	
	.work-stage-item:nth-child(2n){
		align-self: flex-end;
		flex-direction: column-reverse;
		
	}
	.work-stage-item+.work-stage-item{
		position: relative;
		margin-left: -6%;
		
	}
	.work-stage-item:nth-child(3){
		
		
		
	}
	.work-stage-item:nth-child(3){padding-top: 10px;}
}
.work-stages-list{
	height: remy(400);
	position: relative;
	z-index: 2;
}
.work-stages.business-support-stages{
	.work-stage-item{position: relative;}
	
	.work-stage-item:first-child{
       top:-20px;
	}
	.work-stage-item:nth-child(2){
       top:-45px;
	}
	.work-stage-item:nth-child(3){
       top:-10px;
	}
	.work-stage-item:nth-child(4){
       top:-65px;
	   right:-30px;
	}
	.work-stage-item:nth-child(5){
       top:20px;
	   
	}
}