//HERO
section.hero.inner-hero.aboutus-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#' aria-current='page') О нас 
				
				
		
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-48.mb-50  Insight Business<br>Services
				.hero-text.txt-20
					p Одна из ведущих консалтинговых компаний с офисами в ОАЭ и РФ, имеющая в штате русскоязычных и англоязычных консультантов, юристов и бухгалтеров для эффективного выполнения задач наших клиентов.
					p Высокий уровень квалификации юристов подтвержден не только победами во многочисленных рейтингах и вхождением Insight в список лучших юридических компаний «Право-300», но и доверием наших клиентов – крупнейших банков, авиаперевозчиков и предприятий.
				
				//hero-img
				.hero-img-group
					img.hero-img.round-106.object-fit-cover(src='./img/insight-hero.webp', srcset='./img/insight-hero@2x.webp 2x' width='784' height='531' alt='img')
							
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставить заявку