section.our-branches
	.container
		.branches-wrapper
			//card
			.branche-card
				.branche-card__title
					p INSIGHT advocates
					p г. Дубай
				
				a(href="#!").text-link.text-link--white Посмотреть на карте
			//card
			.branche-card.branche-card--msk
				.branche-card__title
					p INSIGHT advocates
					p г. Москва
				
				a(href="#!").text-link.text-link--white Перейти на сайт