section.our-slogan.d-flex
	.container
		.slogan-text В 2020 году Insight<br>вышел на рынок ОАЭ и начал деятельность по оказанию консалтинговых, юридических<br>и бухгалтерских услуг.
		.slogan-image
			img(src='./img/slogan-img.webp', srcset='./img/slogan-img@2x.webp 2x' width='415' height='500' loading='lazy' alt='img')