//ABOUT
section.aboutus
	.container
		.section-header-group
			.round-title.border.border-primary О нас
			.h-40.mb-4 Почему клиенты выбирают INSIGHT
		
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-lightning-charge-fill
				.h-28 Присутствие в двух странах
				p.txt-14.text-muted.mb-0.
					Офисы INSIGHT находятся во многих городах ОАЭ и РФ, что позволяет нам не только обеспечивать дополнительный комфорт и удобство получения услуг для наших клиентов, но и эффективно сопровождать международные сделки, релокацию бизнеса и активов между странами.
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-patch-check-fill
				.h-28 Юридическое сопровождение
				p.txt-14.text-muted.mb-0.
					Юристы всегда сопровождают выполнение запросов наших клиентов, консультируя их по соблюдению требованию местного законодательства для нивелирования юридических и налоговых рисков.
			
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-sliders2-vertical
				.h-28 Индивидуальный подход&nbsp;и высокое качество услуг
				p.txt-14.text-muted.mb-0.
					Мы находим эффективные решения для любых бизнес-задач и достижения желаемой прибыли. Высокая квалификация экспертов INSIGHT – гарантия вашей успешной деятельности в ОАЭ.