//ABOUT
section.aboutus
	.container
		.section-header-group
			.round-title.border.border-primary О нас
			.h-40.mb-4 Почему клиенты выбирают INSIGHT
		
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-lightning-charge-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z')
				.h-28 Присутствие в двух странах
				p.txt-14.text-muted.mb-0.
					Офисы INSIGHT находятся во многих городах ОАЭ и РФ, что позволяет нам не только обеспечивать дополнительный комфорт и удобство получения услуг для наших клиентов, но и эффективно сопровождать международные сделки, релокацию бизнеса и активов между странами.
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-patch-check-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708')
				.h-28 Юридическое сопровождение
				p.txt-14.text-muted.mb-0.
					Юристы всегда сопровождают выполнение запросов наших клиентов, консультируя их по соблюдению требованию местного законодательства для нивелирования юридических и налоговых рисков.
			
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-sliders2-vertical(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(fill-rule='evenodd' d='M0 10.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H3V1.5a.5.5 0 0 0-1 0V10H.5a.5.5 0 0 0-.5.5M2.5 12a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5m3-6.5A.5.5 0 0 0 6 6h1.5v8.5a.5.5 0 0 0 1 0V6H10a.5.5 0 0 0 0-1H6a.5.5 0 0 0-.5.5M8 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2A.5.5 0 0 0 8 1m3 9.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H14V1.5a.5.5 0 0 0-1 0V10h-1.5a.5.5 0 0 0-.5.5m2.5 1.5a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5')
				.h-28 Индивидуальный подход&nbsp;и высокое качество услуг
				p.txt-14.text-muted.mb-0.
					Мы находим эффективные решения для любых бизнес-задач и достижения желаемой прибыли. Высокая квалификация экспертов INSIGHT – гарантия вашей успешной деятельности в ОАЭ.