//BENEFITS
section.our-benefits
	.container
		.section-header-group
			.round-title.border.border-primary О нас
			.h-40.mb-4 Наши преимущества
		
		.section-preview-text.text-grey.lh-150
			p Наличие многолетнего опыта деятельности в РФ, штат высококвалифицированных специалистов, обладающих знаниями всех нюансов законодательства и бизнес-практик в ОАЭ, позволяют нам выполнять запросы клиентов любой сложности.
			p Мы заинтересованы в долгосрочном партнерстве с клиентами и берем на себя все организационные, юридические и бухгалтерские вопросы создания и деятельности компаний для стабильного развития бизнеса.
		
		.our-benefits-content.d-grid
			.statistic-card
				.txt-80.fw-bold 
					span.anim-counter(data-target="250") 0 
					span.text-primary +
				.statistic-card__txt Успешных проектов

			.statistic-card
				.txt-80.fw-bold 
					span.text-primary= '<'
					span.anim-counter(data-target="30") 0
				.statistic-card__txt Компаний на сопровождении
			
			.statistic-card
				.txt-80.fw-bold 
					span.text-primary
						svg(viewBox='0 0 68 69' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M33.9974 6.01172C36.7993 6.01172 39.5383 6.84258 41.868 8.39923C44.1977 9.95589 46.0135 12.1684 47.0857 14.757C48.1579 17.3457 48.4385 20.1941 47.8919 22.9422C47.3452 25.6902 45.996 28.2145 44.0147 30.1957C42.0335 32.177 39.5092 33.5262 36.7612 34.0729C34.0131 34.6195 31.1647 34.3389 28.576 33.2667C25.9874 32.1944 23.7749 30.3787 22.2182 28.049C20.6616 25.7193 19.8307 22.9803 19.8307 20.1784L19.8449 19.5636C20.0033 15.9163 21.5636 12.4711 24.2004 9.94626C26.8371 7.42142 30.3468 6.01193 33.9974 6.01172ZM39.6641 40.0117C43.4213 40.0117 47.0246 41.5043 49.6814 44.1611C52.3382 46.8178 53.8307 50.4212 53.8307 54.1784V57.0117C53.8307 58.5146 53.2337 59.956 52.171 61.0187C51.1083 62.0814 49.667 62.6784 48.1641 62.6784H19.8307C18.3278 62.6784 16.8865 62.0814 15.8238 61.0187C14.7611 59.956 14.1641 58.5146 14.1641 57.0117V54.1784C14.1641 50.4212 15.6566 46.8178 18.3134 44.1611C20.9701 41.5043 24.5735 40.0117 28.3307 40.0117H39.6641Z' fill='#F5802A')
					span.anim-counter(data-target="25") 0
				.statistic-card__txt Специалистов в штате