//доп услуги
section.add-services
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Дополнительные услуги
			.h-40 Что мы еще можем предложить
		
		.add-services-links
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Трудоустройство сотрудников
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Открытие корпоративных<br>и личных счетов
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Открытие компаний в ОАЭ
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Юридическое сопровождение
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Подбор и аренда офиса
			//item
			a(href="#!").plate-link.d-flex
				span.arrow-orange-right
				span.plate-link__name Легализация документов
