//Service packages
section.service-packages
	.container
		.container
			.section-header-group.mb-5
				.round-title.border.border-primary Услуги
				.h-40 Пакет услуг — выгоднее!
				p.text-opac.txt-16.width-limit Мы предлагаем вам приобрести пакет услуг, включающий несколько услуг в зависимости от ваших потребностей для эффективной поддержки старта и развития вашего бизнеса в ОАЭ. Пакет услуг более чем на 20% выгоднее, чем приобретение услуг по отдельности.
			
			.packages-cards
				//card
				.package-card
					.package-card__body
						.package-card__title Elementary
						.package-card__txt.text-muted
							p Для организаций, которые еще не начали финансовую деятельность.
							p Включает ежемесячное начисление заработной платы директору, составление расчетных и платежных ведомостей

					.package-card__footer
						p от 1,000 AED (от 275 USD)
				
				//card
				.package-card
					.package-card__body
						.package-card__title Minimum
						.package-card__txt.text-muted
							p Для организаций, которые только начинают вести деятельность.							

							p Включает: отражение входящих/исходящих документов и банковских выписок (до 10 транзакций в месяц); начисление заработной платы сотрудникам (до 2-х чел), составление расчетных и платежных ведомостей (ежемесячно), банковская сверка, акты сверок взаиморасчетов, закрытие месяца

					.package-card__footer
						p от 3,000 AED (от 820 USD)
				
				//card
				.package-card
					.package-card__body
						.package-card__title Standart
						.package-card__txt.text-muted
							p Для небольших организаций, являющихся плательщиками НДС.
							p Включает: отражение входящих/исходящих документов и банковских выписок (до 20 транзакций в месяц); начисление заработной платы сотрудникам (до 3-х чел), составление расчетных и платежных ведомостей (ежемесячно), банковская сверка, акты сверок взаиморасчетов, закрытие сдача декларации по НДС (ежеквартально), отчет о задолженности (раз в квартал по запросу заказчика)
					
					.package-card__footer
						p от 5,000 AED (от 1,365 USD)
				
				//card
				.package-card
					.package-card__body
						.package-card__title Maximum
						.package-card__txt.text-muted
							p Для крупных организаций.
							p Включает: отражение входящих/исходящих документов и банковских выписок (до 30 транзакций в месяц); начисление заработной платы сотрудникам (до 10-и чел), составление расчетных и платежных ведомостей (ежемесячно), банковская сверка. акты сверок взаиморасчетов, закрытие месяца, формирование и сдача налоговой отчетности (ежеквартально), отчет о дебиторской и кредиторской задолженности (раз в квартал по запросу заказчика), составление бухгалтерской отчетности (баланс, отчет о прибылях и убытках,отчет о движении денежных средств) 
					.package-card__footer
						p от 9,000 AED (от 2,460 USD)