//HERO
section.hero.inner-hero.buhgaltery-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Бухгалтерские услуги
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Бухгалтерские<br>услуги в ОАЭ
				
				.hero-text
					p.txt-20 Решение юридических и административных проблем, возникающих при ведении бизнеса в Объединенных Арабских Эмиратах
					p.txt-16 Insight обеспечивает предоставление полного спектра юридических услуг, отвечающих всем вашим требованиям, обеспечивая долгосрочную поддержку и способствуя развитию вашего бизнеса. 
					p.txt-16 Мы поможем вам избежать юридических ошибок в деятельности вашей компании и быть в курсе всех изменений законодательства ОАЭ.
				
				//hero-img
				.hero-img-group.hero-img--noafter
					img.hero-img.round-106.object-fit-cover(src='./img/buhgaltery-page.webp', srcset='./img/buhgaltery-page@2x.webp 2x' width='784' height='664'  alt='img')
					
					.benefit-chips-group.d-none.d-md-block
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img.text-primary= '<30'
								
							.benefit-chips__txt
								.fw-bold Компаний<br>в сопровождении
						
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img.text-primary +250
								
							.benefit-chips__txt
								.fw-bold Успешных<br>проектов
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставть заявку