//ABOUT
section.aboutus.buhgaltery-aboutus
	.container
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M0 5.46016C0 2.80916 2.149 0.660156 4.8 0.660156C7.451 0.660156 9.6 2.80916 9.6 5.46016C9.6 7.65366 8.1287 9.50356 6.1191 10.0767C6.2285 10.6766 6.3968 10.9071 6.5477 11.0288C6.8409 11.2652 7.4881 11.4602 9.1824 11.4602H14.8176C16.512 11.4602 17.1591 11.2652 17.4524 11.0288C17.6033 10.9071 17.7715 10.6766 17.881 10.0767C15.8714 9.50356 14.4 7.65366 14.4 5.46016C14.4 2.80916 16.549 0.660156 19.2 0.660156C21.851 0.660156 24 2.80916 24 5.46016C24 7.73226 22.4214 9.63556 20.3011 10.1333C20.1559 11.2341 19.805 12.2149 18.9587 12.8972C17.9312 13.7256 16.455 13.8602 14.8176 13.8602H13.2V15.2114C15.2703 15.7443 16.8 17.6236 16.8 19.8602C16.8 22.5112 14.651 24.6602 12 24.6602C9.349 24.6602 7.2 22.5112 7.2 19.8602C7.2 17.6236 8.7297 15.7443 10.8 15.2114V13.8602H9.1824C7.5451 13.8602 6.0688 13.7256 5.0413 12.8972C4.195 12.2149 3.8441 11.2341 3.6989 10.1333C1.5786 9.63566 0 7.73226 0 5.46016Z' fill='#F9F9F9')
				.h-28 Экономия денег
				p.txt-14.text-muted.mb-0.
					Наличие профессионалов в сфере бухгалтерии и налогов в штате компании стоит значительно дороже, чем ведение бухгалтерского учета на аутсорсинге.
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M0 5.46016C0 2.80916 2.149 0.660156 4.8 0.660156C7.451 0.660156 9.6 2.80916 9.6 5.46016C9.6 7.65366 8.1287 9.50356 6.1191 10.0767C6.2285 10.6766 6.3968 10.9071 6.5477 11.0288C6.8409 11.2652 7.4881 11.4602 9.1824 11.4602H14.8176C16.512 11.4602 17.1591 11.2652 17.4524 11.0288C17.6033 10.9071 17.7715 10.6766 17.881 10.0767C15.8714 9.50356 14.4 7.65366 14.4 5.46016C14.4 2.80916 16.549 0.660156 19.2 0.660156C21.851 0.660156 24 2.80916 24 5.46016C24 7.73226 22.4214 9.63556 20.3011 10.1333C20.1559 11.2341 19.805 12.2149 18.9587 12.8972C17.9312 13.7256 16.455 13.8602 14.8176 13.8602H13.2V15.2114C15.2703 15.7443 16.8 17.6236 16.8 19.8602C16.8 22.5112 14.651 24.6602 12 24.6602C9.349 24.6602 7.2 22.5112 7.2 19.8602C7.2 17.6236 8.7297 15.7443 10.8 15.2114V13.8602H9.1824C7.5451 13.8602 6.0688 13.7256 5.0413 12.8972C4.195 12.2149 3.8441 11.2341 3.6989 10.1333C1.5786 9.63566 0 7.73226 0 5.46016Z' fill='#F9F9F9')
				.h-28 Индивидуальный подход
				p.txt-14.text-muted.mb-0.
					Мы стремимся к тому, чтобы полностью удовлетворить потребности каждого клиента и ответить на все его вопросы. Вы сможете задать любой интересующий вас вопрос в чате с нашими специалистами и получить профессиональную консультацию в любой момент.
			
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					svg(width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(opacity='0.9' fill-rule='evenodd' clip-rule='evenodd' d='M0 5.46016C0 2.80916 2.149 0.660156 4.8 0.660156C7.451 0.660156 9.6 2.80916 9.6 5.46016C9.6 7.65366 8.1287 9.50356 6.1191 10.0767C6.2285 10.6766 6.3968 10.9071 6.5477 11.0288C6.8409 11.2652 7.4881 11.4602 9.1824 11.4602H14.8176C16.512 11.4602 17.1591 11.2652 17.4524 11.0288C17.6033 10.9071 17.7715 10.6766 17.881 10.0767C15.8714 9.50356 14.4 7.65366 14.4 5.46016C14.4 2.80916 16.549 0.660156 19.2 0.660156C21.851 0.660156 24 2.80916 24 5.46016C24 7.73226 22.4214 9.63556 20.3011 10.1333C20.1559 11.2341 19.805 12.2149 18.9587 12.8972C17.9312 13.7256 16.455 13.8602 14.8176 13.8602H13.2V15.2114C15.2703 15.7443 16.8 17.6236 16.8 19.8602C16.8 22.5112 14.651 24.6602 12 24.6602C9.349 24.6602 7.2 22.5112 7.2 19.8602C7.2 17.6236 8.7297 15.7443 10.8 15.2114V13.8602H9.1824C7.5451 13.8602 6.0688 13.7256 5.0413 12.8972C4.195 12.2149 3.8441 11.2341 3.6989 10.1333C1.5786 9.63566 0 7.73226 0 5.46016Z' fill='#F9F9F9')
				.h-28 Надежность
				p.txt-14.text-muted.mb-0.
					Наши специалисты обладают высокой квалификацией и опытом ведения бухгалтерского и налогового учета для компаний различных профилей деятельности и знают как решить любой, даже самый сложный вопрос.