section.our-slogan.d-flex
	.container
		.slogan-text Мы уверены в качестве наших услуг, поэтому наши клиенты доверяют нам самые важные финансовые вопросы.
		.slogan-image
			img(src='./img/slogan-img.webp', srcset='./img/slogan-img@2x.webp 2x' width='415' height='500' loading='lazy' alt='img')