//HERO
section.hero.inner-hero.business-support-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Открытие и релокация бизнеса
		.hero-content-wrapper.d-flex
			.hero-content
				h1.hg-52.mb-50  Открытие<br>и сопровождение<br>бизнеса в ОАЭ
				
				.hero-text
					p Открывайте бизнес в ОАЭ с минимальными налогами, доступом к мировым рынкам и полным отсутствием санкций.
					p Создайте компанию, международный холдинг или расчётно-кассовый центр и используйте инструменты налогового планирования в свою пользу!
					p #[span.fw-bold.act-wide  INSIGHT BUSINESS SERVICES] — ваш надёжный проводник в мире успешного бизнеса в ОАЭ.
				
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставить заявку
				
				//hero-img
				.hero-img-group
					img.hero-img.round-img.object-fit-cover(src='./img/hero.webp', srcset='./img/hero@2x.webp 2x' width='784' height='531' loading='lazy' alt='img')
					
					.benefit-chips-group
						//benefit-label
						.benefit-chips.d-flex.align-items-center
							.benefit-chips__img
								img(src='./img/list-icon.svg' width='32' height='32'  alt='img')
							.benefit-chips__txt
								p.mb-0.txt-20 Регистрация Mainland компании
						
						//benefit-label
						.benefit-chips.d-flex.align-items-center
							.benefit-chips__img
								img(src='./img/list-icon.svg' width='32' height='32'  alt='img')
							.benefit-chips__txt
								p.mb-0.txt-20 Регистрация Free Zone компании
						
						//benefit-label
						.benefit-chips.d-flex.align-items-center
							.benefit-chips__img
								img(src='./img/list-icon.svg' width='32' height='32'  alt='img')
							.benefit-chips__txt
								p.mb-0.txt-20 Регистрация Offshore компании