//Вопросы / ответы
section.reg-processing
	.container
		
	
		.reg-processing-content.d-flex
			.reg-processing__column
				//TITLE
				.section-header-group.mb-5
					.round-title.border.border-primary Регистрация 
					.h-40 Процесс<br>регистрации<br>компании в ОАЭ:
				//IMAGE
				.reg-processing__img
					img(src='./img/processing.webp', srcset='./img/processing@2x.webp 2x' width='779' height='608' loading='lazy' alt='img')
			
			//RIGHT COLUMN	
			.reg-processing__descrip
				ol.reg-processing-list.round-marker-ol
					li Выбор организационно-правовой формы бизнеса (Free Zone, Mainland, Offshore) и типа компании
					li Выбор подходящего<br>типа лицензии
					li Подготовка и оформление необходимых документов
					li Получение учредительных документов и лицензии
					li Аренда офиса / Flexi desk
					li Получение разрешений на ведение отдельных видов лицензируемой деятельности (при необходимости)
					
			
				.info-round-card
					p.txt-24.text-primary Срок открытия компании -<br>до 2,5 недель
					p.txt-16 Однако, если среди учредителей есть юридическое лицо или выбранный вид деятельности требует получения дополнительных разрешений, то срок может увеличиться.
