//ABOUT
section.aboutus
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary О нас
			.h-40 Insight – ваш надежный партнер по вопросу<br>открытия бизнеса в ОАЭ:
		
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-lightning-charge-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z')
				
				p.fw-600.mb-0.
					Создание эффективной бизнес-структуры и её оптимизация
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					
					svg.bi.bi-display-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M6 12q0 1-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75Q10 13 10 12h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2z')
				p.fw-600.mb-0.
					Без личного присутствия учредителя. Сокрытие бенефициаров и защита от обмена
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-people-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5')
				
				p.fw-600.mb-0.
					Оформим сотрудников в штат и откроем банковский счет для компании
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="400")
				.benefit-card__icon.d-flex.rounded-circle
					svg.bi.bi-suitcase-lg-fill(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 16 16')
						path(d='M7 0a2 2 0 0 0-2 2H1.5A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14H2a.5.5 0 0 0 1 0h10a.5.5 0 0 0 1 0h.5a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2H11a2 2 0 0 0-2-2zM6 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zM3 13V3h1v10zm9 0V3h1v10z')
				
				p.fw-600.mb-0.
					Юридическая и бухгалтерская поддержка на всех этапах вашего бизнеса