//ABOUT
section.aboutus
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary О нас
			.h-40 Insight – ваш надежный партнер по вопросу<br>открытия бизнеса в ОАЭ:
		
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-lightning-charge-fill
				
				p.fw-600.mb-0.
					Создание эффективной бизнес-структуры и её оптимизация
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-display-fill
					
				p.fw-600.mb-0.
					Без личного присутствия учредителя. Сокрытие бенефициаров и защита от обмена
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-people-fill
				
				p.fw-600.mb-0.
					Оформим сотрудников в штат и откроем банковский счет для компании
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-suitcase-lg-fill
				
				p.fw-600.mb-0.
					Юридическая и бухгалтерская поддержка на всех этапах вашего бизнеса