//HERO
section.hero.inner-hero.contacts-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='inner.html') Главная
				li.breadcrumb-item
					a(href='contacts.html' aria-current='page') Контакты
				
		h1.h-52.mb-50 Спасибо за ваш интерес к Insight<br>Business Services L.L.C.
		.hero-content-wrapper.d-flex
			.hero-content
				.hero-text
					p.txt-24 Office 813, B2B Tower, Marasi Drive, Business Bay, Dubai, UAE
					p.txt-18 PO Box: №390154
					
				.contacts-group
					a(href="tel:+97145579031").contacts-item.d-flex
						.contacts-item__icon
							i.bi.bi-telephone-fill
						span +971 4 557 9031
					a(href="mailto:info@in-sight.ae").contacts-item.d-flex
						.contacts-item__icon
							i.bi.bi-envelope-fill
						span info@in-sight.ae
					a(href="tel:+97145579031").contacts-item.d-flex
						.contacts-item__icon
							i.bi.bi-instagram
						span @insight.business.ru
					a(href="tel:+97145579031").contacts-item.d-flex
						.contacts-item__icon
							i.bi.bi-telegram
						span @Insight_dubai
					
				
			//hero-img
			.map-wrapper
				.map.round-106
					script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13e02d731c04b56220a2a064d1fa54db38ac5402f907fd4bdf75e632a107fa8e&width=100%&height=100%&lang=ru_RU&scroll=false')
					