//FOOTER
footer.footer
	.container
		//FOOTER TOP
		.footer-content.row
			.col-lg-3.footer-column.d-flex.justify-content-center.d-lg-block.order-1
				.footer-logo
					img(src='https://in-sight.ae/img/logo2.svg' width='150' height='100' loading='lazy' alt='img')
				p.txt-14.d-none.d-xl-block All rights reserved<br>Insight Business Services, 2025
			
			.col-lg-2.order-2
				nav.footer-menu
					a(href="#!") Услуги
					a(href="#!") Контакты
					a(href="#!") О нас

			.col-lg-4.col-xl-3.offset-xl-1.footer-address.order-4.order-lg-3
				address.text-white.
					Office 813, B2B Tower, Marasi Drive,
					Business Bay, Dubai, UAE
				p.text-white.mb-1 PO Box: №390154
				a(href="#!").txt-14.link-primary Показать на карте
			
			.col-lg-3.order-3
				.social-box.d-flex.flex-wrap
					a(href="#!").social-item
						i.bi.bi-linkedin
					
					a(href="").social-item
						i.bi.bi-instagram
					
					a(href="#!").social-item
						i.bi.bi-whatsapp

					a(href="#!").social-item
						i.bi.bi-telegram
						
					a(href="#!").social-item
						i.bi.bi-telephone-fill
					
					a(href="#!").social-item
						i.bi.bi-envelope-fill

		.footer-bottom.row
			.col-lg-4.d-flex
				a(href="").link-primary Политика обработки персональных данных
			.col-lg-4.d-flex
				a(href="").link-primary Правила оказания услуг
			.col-lg-4.d-flex
				a(href="document.pdf" download).link-primary.d-flex.align-items-center.gap-2
					i.bi.bi-filetype-pdf
					span Скачать презентацию
