//FREEZONS
mixin acc-item(num, title)
	//card
	.card
		button.card-header(id="heading"+num type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse'+num  aria-expanded='false' aria-controls='collapse'+num) !{title}
		
		.collapse(id="collapse"+num aria-labelledby='heading'+num data-parent='#accordionFreezones')
			.card-body
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

section.freezons
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Цены
			.h-40 Мы являемся партнерами следующих фризон:
		
		.accordion#accordionFreezones.freezone-accordion
			.card
				button.card-header#heading1(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse1' aria-expanded='false' aria-controls='collapse1') Khalifa Industrial Zone Abu Dhabi (KIZAD) – Abu Dhabi
				
				#collapse1.collapse(aria-labelledby='heading1' data-parent='#accordionFreezones')
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
			.card
				button.card-header#heading2(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse2' aria-expanded='false' aria-controls='collapse2') Dubai Commercity – Dubai
				
				#collapse2.collapse(aria-labelledby='heading2' data-parent='#accordionFreezones')
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
			.card
				button.card-header#heading3(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse3' aria-expanded='false' aria-controls='collapse3') Dubai Commercity – Dubai
				
				#collapse3.collapse(aria-labelledby='heading3' data-parent='#accordionFreezones')
					.card-body
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
			+acc-item(4, 'Dubai Multi Commodities Centre (DMCC) – Dubai')
		
			+acc-item(5, 'Dubai South – Dubai')
		
			+acc-item(6, 'Dubai World Trade Centre (DWTC) – Dubai')
		
			+acc-item(7, 'DUQE – Dubai')
		
			+acc-item(8, 'DWC – ubai')
		
			+acc-item(9, 'International Free Zone Authority (IFZA) – Dubai')
		
			+acc-item(10, 'Meydan Free Zone –Dubai')
		
			+acc-item(11, 'Rakez Freezone –Ras Al Khaimah')
		
			+acc-item(12, 'Hamriyah Free Zone –Sharjah')
		
			+acc-item(13, 'Umm Al-Quwain Free Zone – Umm Al Quwain')
