//HEADER
header.header#header.flex-shrink-0
	.container
		nav.navbar.navbar-expand-xxl.py-0#nav-cont
			.container-fluid.nav-content
				a.navbar-brand.flex-shrink-0(href='index.html')
					img#logo-img.logo-img(src='https://in-sight.ae/img/logo.svg' alt='logo' width="121" height="81")
				button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='true' aria-label='Toggle navigation')
					span.navbar-toggler-icon
				.navbar-collapse.collapse#navbarSupportedContent.flex-grow-1.justify-content-between
					ul.navbar-nav.d-flex.gap-4
						li.nav-item
							a.nav-link.txt-20( href='#!') О нас
							
						li.nav-item
							a.nav-link.txt-20( href='#!') Партнерам
							
						li.nav-item
							a.nav-link.txt-20( href='#!') Контакты
						
						
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle.txt-20(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').
								Услуги 
							
							ul.dropdown-menu
								li
									a.dropdown-item( href='#!') Главная
								
								li
									a.dropdown-item.text-wrap( href='business-support.html') Открытие и релокация бизнеса
								li
									a.dropdown-item.text-wrap( href='buhgaltery-services.html') Бухгалтерские услуги
								li
									a.dropdown-item.text-wrap( href='registr-account.html') Корпоративный и личный банковский счет
								li
									a.dropdown-item.text-wrap( href='urist-service.html') Юридические услуги
								li
									a.dropdown-item.text-wrap( href='#!') Оформление резидентской визы ОАЭ
								li
									a.dropdown-item.text-wrap( href='legal-docs.html') Легализация документов
								li
									a.dropdown-item.text-wrap( href='#!') Услуги Real Estate
								li
									a.dropdown-item.text-wrap( href='money-transfers.html') Денежные переводы
						
						
							
					.header-column.d-flex.flex-column.flex-lg-row
						a.fw-bold.text-decoration-none.link-primary.phone-link(href='tel:+971521258037' target='_blank') +971 521 25 8037
						.d-flex.align-items-center.gap-4
							.dropdown.lang-dropdown
								a.d-flex.dropdown-toggle.align-items-center.fw-bold.text-decoration-none.link-primary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
									img(src='./img/ru.webp', srcset='./img/ru@2x.webp 2x' width='40' height='27' loading='lazy' alt='img')
								ul.dropdown-menu.dropdown-menu-end
									li.list-unstyled.text-center.bg-primary
										a.dropdown-item.link-light.fw-bold(data-lang='ru' href='#') RU
									li.list-unstyled.text-center
										a.dropdown-item(data-lang='en' href='#') EN
			
							button.btn.btn-primary(type='button') Оставить заявку