//Service packages
section.service-packages
	.container
		.container
			.section-header-group.mb-5
				.round-title.border.border-primary Услуги
				.h-40 Пакет услуг — выгоднее!
				p.text-opac.txt-16.width-limit Мы предлагаем вам приобрести пакет услуг, включающий несколько услуг в зависимости от ваших потребностей для эффективной поддержки старта и развития вашего бизнеса в ОАЭ. Пакет услуг более чем на 20% выгоднее, чем приобретение услуг по отдельности.
			
			.packages-cards
				//card
				.package-card
					.package-card__body
						.package-card__title Minimum
						.package-card__txt.text-muted
							p Подходит для старта бизнеса и включает в себя разработку документов для начала бизнеса – партнерских соглашений, корпоративных и иных документов

					.package-card__footer
						p от 1,000 AED (от 275 USD)
				
				//card
				.package-card
					.package-card__body
						.package-card__title Standart
						.package-card__txt.text-muted
							p Для организаций, которые только начинают вести деятельность.
							p Включает: представление интересов в государственных органах, подготовку коммерческих контрактов и сопровождение сделок (до 2-х в месяц), юридические консультации (до 5-ти в месяц)

					.package-card__footer
						p от 2,000 AED (от 820 USD)
				
				//card
				.package-card
					.package-card__body
						.package-card__title Maximum
						.package-card__txt.text-muted
							p Для небольших организаций, ведущих стабильную предпринимательскую деятельность.
							p Включает: представление интересов в государственных органах, подготовку коммерческих контрактов и сопровождение сделок (до 4-х в месяц), юридические консультации (до 10-ти в месяц), разработку внутренних документов компании, due-diligence в отношении ваших партнеров

					.package-card__footer
						p от 5,000 AED (от 1,365 USD)