//bonus
section.add-bonus
	.container
		.add-bonus-content.d-flex
			
			.add-bonus__img
				img.round-160(src='./img/urist-bonus.webp', srcset='./img/urist-bonus@2x.webp 2x' width='637' height='499' loading='lazy' alt='img')
			.add-bonus__txt
				p Также вы можете получить комплексное юридическое и бухгалтерское сопровождение вашего бизнеса с экономией более чем 40%. Свяжись с нами, чтобы узнать детали предложения.