//service price
section.services-price
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Цены
			.h-40 Наши услуги
		
		.services-price-wrapper
			//card
			.serv-price-card.serv-price-card--slim
				.serv-price__body
					.serv-price__title Юридическое сопровождение бизнеса
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 1,000 AED]
						span.text-right месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 275 USD]
						span.text-right месяц

			//card
			.serv-price-card.serv-price-card--slim
				.serv-price__body
					.serv-price__title Консультации по правовым вопросам
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 650 AED]
						span.text-right.d-block.d-md-none месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 175 USD]
						span.text-right.d-block.d-md-none месяц
			
			//card
			.serv-price-card.serv-price-card--slim
				.serv-price__body
					.serv-price__title Подготовка юридических документов
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 1,500 AED]
						span.text-right.d-block.d-md-none месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 400 USD]
						span.text-right.d-block.d-md-none месяц
			//card
			.serv-price-card.serv-price-card--slim
				.serv-price__body
					.serv-price__title Структурирование сложных сделок
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 5,000 AED]
						span.text-right.d-block.d-md-none месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 1,365 USD]
						span.text-right.d-block.d-md-none месяц