//Вопросы / ответы
section.reg-processing
	.container
		.reg-processing-content.d-flex
			.reg-processing__column
				//TITLE
				.section-header-group.mb-5
					.round-title.border.border-primary Регистрация 
					.h-40 Что такое легализация<br>документов?
				//IMAGE
				.reg-processing__img
					img(src='./img/processing-legal.webp', srcset='./img/processing-legal@2x.webp 2x' width='779' height='608' loading='lazy' alt='img')
			
			//RIGHT COLUMN	
			.reg-processing__descrip
				p.txt-20 Для придания документу юридической силы в другом государстве, необходимо пройти процедуру легализации документа.
				p.txt-20 Существуют следующие процедуры придания юридической силы документам:
				ol.reg-processing-list.round-marker-ol
					li Консульская легализация
					li Проставление апостиля (упрощенная процедура легализации)
					li Легализация документов<br>(через Торгово-промышленную палату РФ)
					
			
				.info-round-card
					p.txt-24.text-primary Консульская легализация применяется для стран, не подписавших Гаагскую конвенцию 1961 года, которая ввела процедуру проставления апостиля.
					p.txt-16 Процесс легализации документов в ОАЭ сложный и запутанный. Предлагаем вам обратиться к нашим квалифицированным специалистам для получения гарантированного результата. Легализация иностранных документов для использования на территории ОАЭ. 