//HERO
section.hero.inner-hero.legal-docs-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Легализация документов
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Легализация документов и нотариальное сопровождение
				
				.hero-text
					p.txt-20 Поможем легализовать документы для действия внутри ОАЭ и за их пределами, оформить доверенность для бизнеса или личную
					
					p.txt-16.width-limit Команда Insight поможет вам получить вам заверенные или легализованные документы, сделать доверенность в кратчайшие сроки.
				
				//hero-img
				
				.hero-img-group.hero-img--noafter
					img.hero-img.round-160.object-fit-cover(src='./img/jurist-page.webp', srcset='./img/jurist-page@2x.webp 2x' width='784' height='664' loading='lazy' alt='img')
					
					.benefit-chips-group
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img.text-primary= '<30'
								
							.benefit-chips__txt
								.fw-bold Компаний<br>в сопровождении
						
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img.text-primary +250
								
							.benefit-chips__txt
								.fw-bold Успешных<br>проектов
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставть заявку