//Вопросы / ответы
section.faq
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary FAQ
			.h-40 Для использования в ОАЭ документов нужно:
		.accordion.faq-accordion#accordionFaq
			.card
				button.card-header#headingOne(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne') Выпущенных в ОАЭ
							
				#collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionFaq')
					.card-body
						ul
							li Получить копию документа
							li Перевести документ с английского или арабского языков на язык страны, в которой предполагается его использовать
							li Легализовать (нотариально заверить) перевод документа
							li Легализовать перевод документа путем его заверения госорганом, выдавшим оригинальный документ (например, свидетельства об образовании — Ministry of Education)
							li Заверить документ в МИД ОАЭ.
							li Заверить документ в Консульстве страны назначения

					
			.card
				button.card-header#headingTwo(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo') Выпущенных вне ОАЭ
				#collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionFaq')
					.card-body
						ul
							li Заверить подлинность копии документа у нотариуса
							li Перевести документ с языка страны, которая выпустила документ, на английский или арабский язык (в зависимости от цели использования)
							li Легализовать (нотариально заверить) перевод документа
							li Аттестовать переведенный документ в Минюсте (для некоторых стран установлен иной порядок)
							li Аттестовать переведенный документ в МИД страны происхождения документа
							li Аттестовать переведенный документ в Консульстве ОАЭ
			
			