
//HERO
section.hero.inner-hero.money-transfers-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Денежные переводы
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Денежные<br>переводы
				
				.hero-text
					p.txt-20 Помощь в осуществлении денежных платежей для компаний, стремящихся оптимизировать свои международные финансовые операции
					p.d-block.d-md-none.txt-16 Insight поможет вашему бизнесу выйти на новый уровень и совершать международные сделки
				//hero-img
				
				.hero-img-group.hero-img--noafter
					img.hero-img.round-img.object-fit-cover(src='./img/transfer-money-hero.webp', srcset='./img/transfer-money-hero@2x.webp 2x' width='784' height='664' loading='lazy' alt='img')
					.benefit-chips-group
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img.text-primary= '<30'
								
							.benefit-chips__txt
								.fw-bold Компаний<br>в сопровождении
						
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img.text-primary +250
								
							.benefit-chips__txt
								.fw-bold Успешных<br>проектов
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставть заявку
				
				p.d-none.d-md-block.txt-16 Insight поможет вашему бизнесу выйти на новый уровень и совершать международные сделки