mixin serv-card(num, title, ...li)
	//single-card
	.col-sm-6
		a(href="#!").service-card.br-20.p-4
			.service-card__num.txt-20.text-muted.mb-4 !{num}
			.h-32 !{title}
			ul.text-muted.txt-14.lh-150
				
				each item in li
					li !{item}
				

			.text-decoration-none.text-primary Подробнее
				i.bi.bi-arrow-right
//Услуги
section.our-services
	.container
		.section-header-group
			.round-title.border.border-primary Услуги
			.h-40.mb-4 Что мы предоставляем

		//serv cards wrapper
		.our-services-content.row
			
			+serv-card('01', 'Открытие и релокация бизнеса', 
				'Регистрация компании на Mainland и во Free Zone',
				'Регистрация Offshore компании',
				'Построение холдинговых структур',
				'Релокация бизнеса, активов и сотрудников',' Продление лицензий, получение специализированных разрешений')
			
			+serv-card('02', 'Бухгалтерские услуги', 
				'Налоговое и бухгалтерское сопровождение бизнеса',
				'Международное налоговое планирование',
				'Постановка на налоговый учет в FTA',
				'Прохождение аудита')
			
			+serv-card('03', 'Корпоративный и личный банковский счет', 
				'Сбор и подготовка необходимых документов',
				' Помощь в прохождении проверки compliance',
				'Помощь в проведении платежей',
				'Открытие корпоративного счета на Binance')

			+serv-card('04', 'Юридические услуги',
				'Комплексное юридическое сопровождение бизнеса',
				'Представительство в государственных органах и судах',
				'Регистрация товарного знака', 'Регистрация интеллектуальных прав')

			+serv-card('05', 'Оформление резидентской визы ОАЭ', 
				'Помощь в выборе подходящего типа визы',
				'Сбор и оформление необходимых документов',
				'Ускоренное прохождение всех этапов получения визы',
				'VIP-cопровождение прохождения медицинского теста и биометрии')
			+serv-card('06', 'Легализация документов', 
				'Легализация документов в местных органах и консульских учреждениях',
				'Профессиональный перевод документов',
				'Оформление паспорта РФ',
				'Оформление доверенностей')

			+serv-card('07', 'Услуги Real Estate', 
				'Помощь в аренде офиса / Flexi desk',
				'Получение сертификата RERA для Real Estate компании',
				'Подготовка к сдаче экзамена в RERA	',)
			+serv-card('08', 'Денежные переводы', 
				'Консультации по вопросам банковских переводов',
				'Структурирование и сопровождение сделок с местными и иностранными контрагентами')