section.partners-benefits
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Приемущества
			.h-40 Почему выгодно с нами
		
		.bonus-card.benefit-card.br-20.bonus-card--bg
			.h-40 Денежное<br>вознаграждение
			p.txt-18 Переведем от 500 AED от оплат новых клиентов на ваш расчетный счет
		
		.partners-bonus-cards
			//card
			.bonus-card.benefit-card.br-20
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-wallet-fill
				.h-32 Не требует вложений
				p.txt-18.text-muted.mb-0.
					Переведем от 500 AED от оплат новых клиентов на ваш расчетный счет
			//card
			.bonus-card.benefit-card.br-20
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-credit-card-2-back-fill
				.h-32 Легкий вывод средств
				p.txt-18.text-muted.mb-0.
					Переведем от 500 AED от оплат новых клиентов на ваш расчетный счет
			//card
			.bonus-card.benefit-card.br-20
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-star-fill
				.h-32 Лояльность ваших клиентов
				p.txt-18.text-muted.mb-0.
					Переведем от 500 AED от оплат новых клиентов на ваш расчетный счет
			//card
			.bonus-card.benefit-card.br-20
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-coin
				.h-32 Увеличение вашего дохода
				p.txt-18.text-muted.mb-0.
					Предлагаем особые условия для постоянных и крупных партнеров. Персональные тарифы и индивидуальный подход, которые помогут вам зарабатывать больше. Доверьтесь надежному партнеру в мире бизнеса!
