//service price
section.services-price.our-reward
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Комиссия
			.h-40 Сколько мы платим за новых клиентов
		
		.services-price__content.grid-three-column
			//single card
			.serv-price-card(data-aos="fade-left")
				.serv-price__body
					.serv-price__title Регистрация компании
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 2,000 AED]
						
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="150")
				.serv-price__body
					.serv-price__title Получение резидентской визы ОАЭ
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 1,000 AED]
						
			
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="300")
				.serv-price__body
					.serv-price__title Открытие банковского счета
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 1,000 AED]
					
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="300")
				.serv-price__body
					.serv-price__title Бухгалтерское<br>сопровождение
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val  #[strong 100% цены 1-го месяца]
			
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="300")
				.serv-price__body
					.serv-price__title Консультации по ведению бухгалтерии и налогам
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val #[strong 500 AED]
			
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="300")
				.serv-price__body
					.serv-price__title Легализация документов
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val #[strong 500 AED]


		.button-center-wrapper.d-flex.mt-5
			button.btn.btn-primary Подробнее о вознагрождении