//HERO
section.hero.inner-hero.buhgaltery-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='index.ntml') Главная
				li.breadcrumb-item
					a(href='partners.html' aria-current='page') Партнерам
				
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Реферальная<br>программа: бонусы<br>за приведенных<br>клиентов
				
				.hero-text
					p.txt-20 Рассказывайте новым клиентам о Insight  и станьте партнером! Зарабатывайте #[strong от 500 AED до 2000 AED] от их заказов.
				
				//hero-img
				.hero-img-group.hero-img--noafter
					img.hero-img.round-106.object-fit-cover(src='./img/programm-hero.webp', srcset='./img/programm-hero@2x.webp 2x' width='784' height='531'  alt='img')
					
					.benefit-chips-group.d-none.d-md-block
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img
								img(src='./img/logo-icon.webp', srcset='./img/logo-icon@2x.webp 2x' width='30' height='30' loading='lazy' alt='img')
							.benefit-chips__txt
								.fw-bold Регистрация компании
						
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img
								img(src='./img/logo-icon.webp', srcset='./img/logo-icon@2x.webp 2x' width='30' height='30' loading='lazy' alt='img')
							.benefit-chips__txt
								.fw-bold Легализация документов
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Стать партнером