section.advantage
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Этапы
			.h-40 Как работает программа
		//cards
		.advantage-wrapper.d-flex
			//single card
			.advantage-card
				.advantage-card__title 01
				p.txt-16 Мы заключаем с вами #[span.fw-600  партнерский договор], чтобы официально зафиксировать все #[span.fw-600  достигнутые договоренности]
			//single card
			.advantage-card
				.advantage-card__title 02
				p.txt-16 #[span.fw-600 Создаем общий файл] в облачном хранилище для #[span.fw-600 прозрачного учета] всех переданных вами клиентов, включая их данные, покупки и текущий статус выполнения работ
			//single card
			.advantage-card
				.advantage-card__title 03
				p.txt-16 #[span.fw-600  В течение 5 рабочих дней] после оплаты клиентом услуг мы выплачиваем вам #[span.fw-600  вознаграждение:] переводом на указанный вами банковский счет или наличными, по вашему выбору