//PARTNERS
section.partners.py-3.border-top.border-bottom.border-primary
	
	.container
		.partners-content.d-flex.align-items-center
			.txt-20.act-wide.fw-bold.pe-4.text-nowrap.d-none.d-xl-block Компании доверяющие нам:
			.move-right-animate.ms-0.ms-xxl-5.overflow-hidden
				.move-right-animate-content.d-flex.gap-5.align-items-center.move-right
					img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
					img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
					img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='86' height='20'  alt='img')
					img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='86' height='22'  alt='img')
					img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='86' height='26'  alt='img')
					img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='51' height='34'  alt='img')
					//дублируем картинки для бесконечной проерутки
					img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
					img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
					img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='86' height='20'  alt='img')
					img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='86' height='22'  alt='img')
					img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='86' height='26'  alt='img')
					img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='51' height='34'  alt='img')
					//дублируем картинки для бесконечной проерутки
					img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
					img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
					img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='86' height='20'  alt='img')
					img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='86' height='22'  alt='img')
					img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='86' height='26'  alt='img')
					img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='51' height='34'  alt='img')
