//partners large
section.partners.partners--large
	.container
		.section-header-group
			.round-title.border.border-primary Партнеры
			.h-40.mb-80 С какими кампаниями мы работаем
	
	.container-fluid
		.move-left-animate.py-3.overflow-hidden.border-top.border-bottom.border-primary
			.move-left-animate-content.d-flex.align-items-center.move-left
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')

		.move-right-animate.py-3.overflow-hidden.border-bottom.border-primary
			.move-right-animate-content.d-flex.align-items-center.move-right
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')
				//дублируем картинки для бесконечной проерутки
				img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='65' height='38'  alt='img')
				img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='85' height='36'  alt='img')
				img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='120' height='28'  alt='img')
				img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='120' height='30'  alt='img')
				img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='120' height='37'  alt='img')
				img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='71' height='49'  alt='img')
				img(src='./img/partners/7.webp', srcset='./img/partners/7@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/8.webp', srcset='./img/partners/8@2x.webp 2x' width='120' height='38'  alt='img')
				img(src='./img/partners/9.webp', srcset='./img/partners/9@2x.webp 2x' width='71' height='47'  alt='img')