//HERO
section.hero.inner-hero.real-estate-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Услуги Real Estate
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Услуги Real<br>Estate
				
				.hero-text
					p.txt-20.width-limit Получение сертификата брокера, регистрация Real Estate компании или аренда офиса - специалисты INSIGHT знают, что делать!
					
					p.txt-16.width-limit Мы стремимся помочь начинающим брокерам по недвижимости осуществить свою мечту - стать аккредитованными специалистами в этой развивающейся отрасли.
				
				//hero-img
				
				.hero-img-group.hero-img--noafter
					img.hero-img.round-160.object-fit-cover(src='./img/real-hero.webp', srcset='./img/real-hero@2x.webp 2x' width='784' height='664' loading='lazy' alt='img')
					
					.benefit-chips-group.d-none.d-md-flex
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img.text-primary +250
								
							.benefit-chips__txt
								.fw-bold Успешных<br>проектов
						
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img.text-primary= '<30'
								
							.benefit-chips__txt
								.fw-bold Компаний<br>в сопровождении
						
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставть заявку