//Вопросы / ответы
section.reg-processing
	.container
		.reg-processing-content.d-flex
			.reg-processing__column
				//TITLE
				.section-header-group.mb-5
					.round-title.border.border-primary Регистрация 
					.h-40 Процесс<br>регистрации<br>компании в ОАЭ:
				//IMAGE
				.reg-processing__img
					img(src='./img/processing-real.webp', srcset='./img/processing-real@2x.webp 2x' width='779' height='608' loading='lazy' alt='img')
			
			//RIGHT COLUMN	
			.reg-processing__descrip
				
				ol.reg-processing-list.round-marker-ol
					li Выбор организационно-правовой формы бизнеса (Free Zone, Mainland, Offshore) и типа компании
					li Выбор подходящего<br>типа лицензии
					li Подготовка и оформление<br>необходимых документов
					li Получение учредительных документов и лицензии
					li Аренда офиса / Flexi desk
					li Получение разрешений на ведение отдельных видов лицензируемой деятельности (при необходимости)
				
				.info-round-card
					p.txt-24.text-primary Аренда офиса<br>Flexi desk
					p.txt-16 Также Insight оказывает услуги по поиску и подбору коммерческой недвижимости для вашего бизнеса на Mainland или во Free Zone – от физического офиса до Flexi desk. Мы поможем вам определиться с потребностями, выбрать подходящий вариант в зависимости от типа бизнеса и осуществим юридическое сопровождение сделки и регистрации аренды. 