//SERVECES
section.grid-services
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Шаги
			.h-40 Наши услуги:
		
		.grid-services-content.grid-services-three-column
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-hand-thumbs-up-fill
					.serv-item__txt Соответствие компании критериям, установленным RERA. Это включает наличие действующей торговой лицензии и соблюдение всех нормативных требований.
			
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-people-fill
					.serv-item__txt Прохождение сотрудниками компании необходимого обучения, предусмотренного REPA .

			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-file-earmark-text-fill
					.serv-item__txt Подача документов и заявки в REPA. Заявление обычно можно подать в режиме онлайн на сайте организации или лично в ее офисе.
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-lightning-charge-fill
					.serv-item__txt Оплата установленной пошлины за подачу заявления на получение сертификата REPA. 

			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-stars
					.serv-item__txt Рассмотрение и утверждение: Специалисты REPA оценят заявку, проверят представленные документы и оценят соответствие всем требованиям. 
					
				
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-star-fill
					.serv-item__txt После успешного завершения процесса рассмотрения REPA выдает соответствующий сертификат.
				
			