//ABOUT
section.aboutus
	.container
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200"  data-aos-duration="1300")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-lightning-charge-fill
				.h-28 Скорость
				p.txt-14.text-muted.mb-0.
					Мы поможем вам получить необходимый документ в кратчайшие сроки.
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="200"  data-aos-offset="200" data-aos-duration="1300")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-patch-check-fill
				.h-28 Качество
				p.txt-14.text-muted.mb-0.
					Наши специалисты подробно проконсультируют вас по всем вопросам и помогут разобраться со всеми сложностями.
			
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-delay="400"  data-aos-offset="200" data-aos-duration="1300")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-sliders2-vertical
				.h-28 Индивидуальный подход
				
				p.txt-14.text-muted.mb-0.
					Найдем решение даже самого сложного запроса.