section.advantage
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Преимущества
			.h-40 Почему стоит выбрать ОАЭ<br>для открытия и ведения бизнеса?
		//cards
		.advantage-wrapper.d-flex
			//single card
			.advantage-card
				.advantage-card__title 6 место
				p.txt-16 ОАЭ занимает #[span.fw-600 6 место в списке самых богатых стран по ВВП] на душу населения ($74 245) (в соответствии с отчетом Global Finance 2021).
			//single card
			.advantage-card
				.advantage-card__title 1 место 
				p.txt-16  #[span.fw-600 Дубай занимает 1- е место на Ближнем Востоке и в Африке], 9- е место в мире и уверенно входит в десятку самых популярных городов мира с рейтингом Brand Finance City Index 75,8/100.
			//single card
			.advantage-card
				.advantage-card__title 56.7 балов
				p.txt-16 #[span.fw-600 Индекс деловой активности] в производственном секторе в ОАЭ неуклонно растет и в сентябре 2023 составил 56.7 баллов. 
			