//ABOUT
section.aboutus.registr-aboutus
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary О нас
			.h-40 Insight – ваш надежный партнер для<br>открытия расчетного счета в банке ОАЭ:
		
		.aboutus-content.d-flex.scrollable-x
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-lightning-charge-fill
				
				p.fw-600.mb-0.
					Срок открытия<br>корпоративного счета –<br>от 3 недель
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200" data-aos-delay="150")
				.benefit-card__icon.d-flex.rounded-circle
					
					i.bi.bi-display-fill
				p.fw-600.mb-0.
					Без личного присутствия учредителя, дистанционно
			
			//card
			.benefit-card.br-20(data-aos="fade-left"  data-aos-offset="200" data-aos-delay="300")
				.benefit-card__icon.d-flex.rounded-circle
					i.bi.bi-suitcase-lg-fill
				
				p.fw-600.mb-0.
					Помощь в подготовке<br>	пакета документов