//HERO
section.hero.inner-hero.registr-account-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Открытие банковских счетов в ОАЭ
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50  Открытие банковских<br>счетов в ОАЭ
				
				.hero-text
					p #[span.fw-bold.act-wide.txt-24 Качественное ведение бухгалтерского и&nbsp;налогового учета и минимизация налогов]
					p.width-limit Поможем открыть корпоративный или личный банковский счет в ОАЭ и получить неограниченные возможности доступа к международной финансовой системе и удобным, надежным финансовым сервисам
				
				//hero-img
				
				.hero-img-group.hero-img--noafter
					img.hero-img.round-img.object-fit-cover(src='./img/registr-account-hero.webp', srcset='./img/registr-account-hero@2x.webp 2x' width='784' height='664' loading='lazy' alt='img')

				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Записаться на консультацию