section.advantage
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Преимущества
			.h-40 Преимущества открытия банковского<br>счета в ОАЭ:
		//cards
		.advantage-wrapper.d-flex
			//single card
			.advantage-card.py-0
				.advantage-card__icon.d-flex.rounded-circle
					i.bi.bi-star-fill
				p.fw-700.txt-24 Надежность <br>и стабильность системы
			//single card
			.advantage-card.py-0
				.advantage-card__icon.d-flex.rounded-circle
					i.bi.bi-patch-check-fill
				p.fw-700.txt-24  Защита <br>сведений 
			
			//single card
			.advantage-card.py-0
				.advantage-card__icon.d-flex.rounded-circle
					i.bi.bi-sliders2-vertical
				p.fw-700.txt-24 Широкий<br>ассортимент<br>сервисов 
			
			//single card
			.advantage-card.py-1
				.advantage-card__icon.d-flex.rounded-circle
					i.bi.bi-arrow-down
				p.fw-700.txt-24 Низкая стоимость<br>обслуживания счета
			