section.review
	.container
		.section-header-group
			.round-title.border.border-primary О нас
			.h-40.mb-4 Отзывы
		.review-slider.swiper
			.swiper-wrapper
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span
							span
						.review-txt.lh-150.order-2.order-xl-2 Обращался за помощью в открытии компании в Дубае. До этого пытался разобраться сам, но столкнулся с кучей нюансов и бюрократии. Команда все сделала под ключ: подготовили документы, зарегистрировали бизнес, помогли открыть счет в банке. Особенно ценно, что на всех этапах подробно объясняли процесс и предупреждали о подводных камнях. Рекомендую!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev1.webp', srcset='./img/review/rev1@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Алексей П.
								p Travel Enthusiast
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span
							span.start-disable
						.review-txt.lh-150.order-2.order-xl-2 Сервис выше всяких похвал! Обращался за комплексной услугой – открытие компании, виза резидента, банковский счет. Все сделали четко, в срок, без сюрпризов. Особенно приятно, что всегда были на связи и помогали даже с мелочами. Уверенно рекомендую!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev2.webp', srcset='./img/review/rev2@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Ольга С.
								p Travel Enthusiast
				
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span.start-disable
							span.start-disable
						.review-txt.lh-150.order-2.order-xl-2 Открытие банковского счета в ОАЭ – настоящий квест, особенно для россиян. Я не верил, что возможно быстро и без головной боли пройти этот процесс. Но благодаря этой компании все получилось! Они подобрали банк, подготовили документы, организовали встречу с менеджером. Без них я бы точно потратил кучу нервов и времени!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev3.webp', srcset='./img/review/rev3@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Ольга С.
								p Travel Enthusiast
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span
							span
						.review-txt.lh-150.order-2.order-xl-2 Я фрилансер и искала способ легально работать в ОАЭ. Мне помогли оформить фриланс-визу, объяснили все про налоги и ведение бизнеса. Очень благодарна за профессионализм и честный подход. Все четко, без скрытых платежей и лишней бюрократии!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev4.webp', srcset='./img/review/rev4@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Ольга С.
								p Travel Enthusiast
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span
							span
						.review-txt.lh-150.order-2.order-xl-2 Обращался за помощью в открытии компании в Дубае. До этого пытался разобраться сам, но столкнулся с кучей нюансов и бюрократии. Команда все сделала под ключ: подготовили документы, зарегистрировали бизнес, помогли открыть счет в банке. Особенно ценно, что на всех этапах подробно объясняли процесс и предупреждали о подводных камнях. Рекомендую!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev5.webp', srcset='./img/review/rev5@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Ольга С.
								p Travel Enthusiast
				.swiper-slide
					//single-card
					.review-card.d-flex.flex-column.br-20
						.stars-rating.order-3.order-xl-1
							span
							span
							span
							span
							span.start-disable
						.review-txt.lh-150.order-2.order-xl-2 Долго искала компанию, которой можно доверять. Везде либо завышенные цены, либо скрытые платежи. Здесь все четко: объяснили стоимость, сроки, процесс – и выполнили все, как обещали. Теперь у меня есть свой бизнес в Дубае, и я могу спокойно развивать его, не переживая о документах!
						
						.review-card__author.d-flex.gap-3.order-1.order-xl-2
							.review-card__img
								img.img-fluid.rounded-circle(src='./img/review/rev6.webp', srcset='./img/review/rev6@2x.webp 2x' width='61' height='61' loading='lazy' alt='img')
							.review-card__title.act-wide
								.txt-20.fw-bold Ольга С.
								p Travel Enthusiast
				
			//swiper-nav
			.swiper-nav.d-none.d-xl-flex
				.review-swiper-prev.swiper-button-prev
				.review-swiper-next.swiper-button-next
						