//service price
section.services-price
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Цены
			.h-40 Наши услуги
		.services-price__content
			//single card
			.serv-price-card(data-aos="fade-left")
				.serv-price__body
					.serv-price__title Открытие компании<br> в ОАЭ
					
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 12,900 AED]
						span.text-right месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 3,500 USD]
						span.text-right месяц
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="150")
				.serv-price__body
					.serv-price__title Открытие компании<br> в ОАЭ
					ul.serv-price__list
						li + 1 резидентская виза
				
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 23,900 AED]
						span.text-right месяц
					
					.serv-price__box
						span.serv-price__val от #[strong  6,500 AED]
						span.text-right месяц
			
			//single card
			.serv-price-card(data-aos="fade-left"  data-aos-delay="300")
				.serv-price__body
					.serv-price__title Открытие компании<br> в ОАЭ
					ul.serv-price__list
						li + 1 резидентская виза
						li + корпоративный<br>банковский счет
				.serv-price__footer.d-flex
					.serv-price__box
						span.serv-price__val от #[strong 37,900 AED]
						span.text-right месяц
					
					.serv-price__box
						span.serv-price__val от #[strong 10,355 AED]
						span.text-right месяц

