//sertificates
section.sertificates
	.container
		.section-header-group
			.round-title.border.border-primary О нас
			.h-40.mb-4 Сертификаты

		.sertificates-content
			// SLIDER
			.sertificates-swiper.swiper
				.swiper-wrapper
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert1.webp', srcset='./img/docs/sert1@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert2.webp', srcset='./img/docs/sert2@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert3.webp', srcset='./img/docs/sert3@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert4.webp', srcset='./img/docs/sert4@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert1.webp', srcset='./img/docs/sert1@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert2.webp', srcset='./img/docs/sert2@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
					.swiper-slide
						.sertificate-item
							img(src='./img/docs/sert3.webp', srcset='./img/docs/sert3@2x.webp 2x' width='318' height='440' loading='lazy' alt='img')
				//swiper-nav
				.swiper-nav.d-none.d-xl-flex
					.sertificates-swiper-prev.swiper-button-prev
					.sertificates-swiper-next.swiper-button-next
						