//SERVECES
section.grid-services
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary О нас
			.h-40 Наши услуги:
		
		.grid-services-content
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-hand-thumbs-up-fill
						//- svg.bi.bi-hand-thumbs-up-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						//- 	path(d='M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z')

					.serv-item__txt Легализация документов в Консульстве РФ 
			
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-shield-fill-check
						//- svg.bi.bi-shield-fill-check(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
						//- 	path(fill-rule='evenodd' d='M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z')

					.serv-item__txt Аттестация документов в МИД ОАЭ (MOFA)

			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-file-earmark-ruled-fill
					.serv-item__txt Легализация документов в Консульстве РФ 

			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-lightning-charge-fill
					.serv-item__txt Заверение доверенности в Консульстве РФ

			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-stars
					.serv-item__txt Удостоверение верности копии англоязычного документа в Консульстве РФ
				
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-star-fill
					.serv-item__txt Удостоверение верности копии русскоязычного документа в Консульстве РФ
				
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-clipboard2-check-fill
					.serv-item__txt Перевод документов (русский, английский и арабский языки)
				
			//item
			.serv-item-box
				.serv-item
					.accent-icon
						i.bi.bi-envelope-fill
					.serv-item__txt Подача заявления на получение заграничного паспорта РФ на 5/10 лет
				
				