section.faq
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary FAQ
			.h-40 Налогообложение в ОАЭ:<br>что нужно знать о налоговой системе страны

		.accordion.faq-accordion#accordionFaq
			.card
				button.card-header#headingOne(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne') НДС
							
				#collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionFaq')
					.card-body
						p В ОАЭ действует уникальный налоговый режим, создающий благоприятные условия для ведения бизнеса. Исторически ОАЭ известны своей политикой нулевого налогообложения, однако в 2018 году в стране была проведена знаковая налоговая реформа, в результате которой была введена система налога на добавленную стоимость (НДС). НДС взимается по стандартной ставке 5%, при этом некоторые товары и услуги либо освобождаются от уплаты, либо облагаются по нулевой ставке. 

						h3 Кто освобождается от уплаты НДС?
						ul
							li материковой компании в том случае, если доход от работы с клиентами из ОАЭ не превышает 375 000 дирхамов в год;
							li квалифицированные резиденты свободной зоны при соблюдении определенных требований.
							li добровольная регистрация на сдачу отчетности в качестве НДС плательщика в FTA (Federal Tax Authority) ОАЭ возможна при обороте от 185,000 AED.

						p При обороте от 375,000 AED такая регистрация с целью получения налогового номера (TRN) обязательна.Обязательства компании по сдаче отчетности:
						ul
							li Ежеквартальная подача отчетности в FTA (Federal Tax Authority)
							li При большом количестве операций компании – ежемесячная отчетность

						p Также компании обязаны представлять своим контрагентам налоговые инвойсы для оплаты.Наша команда консультантов обладает глубокими знаниями в области соблюдения требований НДС, что позволяет клиентам оптимизировать свою деятельность и снизить связанные с ней нагрузки.

						
			.card
				button.card-header#headingTwo(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo') Корпоративный налог (налог на прибыль)
							
				#collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionFaq')
					.card-body.
						Консультирование по вопросам осуществления денежных переводов с резидентов Российской Федерации на карты физических и юридических лиц - резидентов других стран, а также содействие в осуществлении таких переводов
						Консультирование по вопросам перевода денежных средств в цифровых валютах (USDT) от физических лиц - резидентов Российской Федерации пользователям из других стран
