//TEAM CHEFF
section.cheff-section
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Цены
			.h-40 Команда 
		.team-cheff
			.team-cheff__photo.accent-after
				img(src='./img/boss.webp', srcset='./img/boss@2x.webp 2x' width='350' height='400' loading='lazy' alt='img')
			
			.team-cheff__text
				.round-title.border.border-primary.text-primary 10 лет опыта
				.h-52 Владислав<br>Седляр
				.team-cheff__rang.fw-700 Руководитель офиса в Дубае, ОАЭ
				p Адвокат, управляющий партнер, учредитель управляющей компании паевыми инвестиционными фондами INSIGHT Capital. 
				p Ключевые специализации – банкротство, реструктуризация сделок, ЗПИФ.
				p Отмечен индивидуальными рейтингами юристов по версии Право-300, ИД «Коммерсантъ» и PROбанкротство.
				
//TEAM
section.team
	.container
	
		.section-header-group.mb-5
			.round-title.border.border-primary Цены
			.h-40 Команда, которая будет работать с вами:
		.team-wrapper.swiper
			.swiper-wrapper
				.swiper-slide
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 7 лет опыта
							.team-card__title Екатерина<br>Гридасова
							p Старший юрист и Руководитель отдела бизнес-консультирования
				.swiper-slide
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 10 лет опыта
							.team-card__title Сельби<br>Дьяченко
							p Руководитель финансового департамента
				
				.swiper-slide
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 10 лет опыта
							.team-card__title Галина<br>Мелон
							p Специалист по бухгалтерскому учету
				
				.swiper-slide
					//card
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 3 лет опыта
							.team-card__title Олег<br>Мальцев
							p Бизнес – консультант
				.swiper-slide
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 5 лет опыта
							.team-card__title Юлия<br>Солдатенко
							p Проектный менеджер
				
				.swiper-slide
					.team-card.d-flex
						.team-card__img
							img(src='./img/team.webp', srcset='./img/team@2x.webp 2x' width='120' height='150' loading='lazy' alt='img')
						.team-card__text
							.round-title.border.border-primary.text-primary 7 лет опыта
							.team-card__title Ирина<br>Овод
							p Руководитель отдела недвижимости
			
			.swiper-nav.d-flex
				.team-swiper-prev.swiper-button-prev
				.team-swiper-next.swiper-button-next