section.viza-obtaining
	.container
		.section-header-group
			.round-title.border.border-primary Задачи
			.h-40.mb-4 Этапы получения резидентской визы ОАЭ (на примере рабочей визы):
		
		.cards-swiper.viza-obtaining-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.white-card
						.white-card__icon
							span 01
						.white-card__body
							p Work permit – получение<br>разрешения на работу

				.swiper-slide
					.white-card
						.white-card__icon
							span 02
						.white-card__body
							p  Insurance – базовая страховка

				.swiper-slide
					.white-card
						.white-card__icon
							span 03
						.white-card__body
							p Entry permit - получение eVisa
				
				.swiper-slide
					.white-card
						.white-card__icon
							span 04
						.white-card__body
							p Change Status – изменение статуса визы на статус рабочей визы ОАЭ
				.swiper-slide
					.white-card
						.white-card__icon
							span 05
						.white-card__body
							p Medical test – обязательное мед обследование, включает сдачу крови на и флюрографию

				.swiper-slide
					.white-card
						.white-card__icon
							span 06
						.white-card__body
							p Visa Stamping – получение резидентской визы (ранее проставляли в паспорт, было отменено с 2022 года)

				.swiper-slide
					.white-card
						.white-card__icon
							span 07
						.white-card__body
							p Fingerprinting appointment – сдача биометрии
				
				.swiper-slide
					.white-card
						.white-card__icon
							span 08
						.white-card__body
							p Emirates ID – получение удостоверения личности резидента

			.swiper-nav.d-flex
				.obtaining-swiper-prev.swiper-button-prev
				.obtaining-swiper-next.swiper-button-next