//HERO
section.hero.inner-hero.viza-page-hero
	.container
		nav.breadcrumb-list(aria-label='breadcrumb')
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Главная
				li.breadcrumb-item
					a(href='#') Услуги
				li.breadcrumb-item.active(aria-current='page') Резидентские визы в ОАЭ
		.hero-content-wrapper.d-flex
			.hero-content
				h1.h-52.mb-50 Резидентские визы в ОАЭ
				
				.hero-text
					p.txt-20.width-limit Получите долгосрочный вид на жительство в ОАЭ для вас, членов семьи или ваших сотрудников
					
					p.txt-16.width-limit Получение резидентской визы ОАЭ позволяет находиться в ОАЭ для работы и учебы, свободно путешествовать, владеть бизнесом, открыть счет в местном банке. Резидентская виза является обязательной для всех иностранцев, чтобы долго оставаться в ОАЭ.
				
				//hero-img
				
				.hero-img-group.hero-img--noafter
					img.hero-img.round-160.object-fit-cover(src='./img/viza-hero.webp', srcset='./img/viza-hero@2x.webp 2x' width='784' height='664' loading='lazy' alt='img')
					
					.benefit-chips-group.d-none.d-md-flex
						//benefit-label
						.benefit-chips.benefit-chips--plus
							.benefit-chips__img.text-primary +250
								
							.benefit-chips__txt
								.fw-bold Успешных<br>проектов
						
						//benefit-label
						.benefit-chips.benefit-chips--more
							.benefit-chips__img.text-primary= '<30'
								
							.benefit-chips__txt
								.fw-bold Компаний<br>в сопровождении
						
				//hero-button
				.btn-wrapper.d-flex.lg-d-block
					button.btn.btn-primary.w-lg-100(type='button') Оставть заявку