//Вопросы / ответы
section.faq.viza-page-faq
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Задачи
			.h-40 Виды резидентских виз в ОАЭ:
		.accordion.faq-accordion#accordionFaq
			//card
			.card
				button.card-header#heading1(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse1' aria-expanded='false' aria-controls='collapse1') Рабочая виза	
				
				#collapse1.collapse(aria-labelledby='heading1' data-parent='#accordionFaq')
					.card-body
						p Вид на жительство на основании трудоустройства дает право законно проживать и работать в ОАЭ на установленный срок с возможностью продления. 

						h3 1. Стандартная трудовая виза
						p Иностранец может получить рабочую визу, если он:
						ul
							li Получил предложение о работе в частном секторе (компания Mainland или Free Zone)
							li Получил предложение о работе в государственном секторе
						p Стандартный срок, на который выдается рабочая виза, - 2 года. После получения предложения о работе компания-спонсор (работодатель) должен подать заявление на получение стандартной визы на жительство.
						p В трудовом договоре между работодателем и сотрудником прописываются условия работы, в том числе размер заработной платы, количество рабочих часов в неделю и любые другие дополнительные условия. Такой рабочий контракт позволяет защищать права как сотрудников, так и работодателей в случае возникновения разногласий.
						p Основными требованиями для получения рабочей визы являются наличие действующего предложения о работе, подписанного трудового договора, прохождения медицинского обследования и сдачи биометрических данных, а также наличия легализованного документа, подтверждающего уровень образования (для некоторых позиций). Работодатель выступает в качестве спонсора и отвечает за подачу заявления на визу в соответствующие органы.
						p Примерный список документов, предоставление которых необходимо для получения рабочей визы инвестора в ОАЭ (список может быть увеличен в зависимости от конкретных обстоятельств):
						ul
							li Предложение о трудоустройстве
							li Цветная копия паспорта (срок действия не менее 6 месяцев)
							li Фотография на белом фоне.
							li Легализованная копия документа об образовании (для некоторых должностей)

						h3 2. Green трудовая виза

						p Зеленая виза ОАЭ — это тип визы на жительство на 5 лет, не требующий наличия спонсорства.
						p Кто может подать заявление на получение Зеленой визы?
						ol
							li Фрилансеры и/или самозанятые люди Фрилансеры и/или самозанятые лица, имеющие разрешение от Министерства человеческих ресурсов и эмиратизации, подтверждение степени бакалавра, свидетельство о годовом доходе от самозанятости за предыдущие два года в размере не менее 360,000AED или подтверждение финансовой состоятельности на протяжении всего пребывания в ОАЭ.
							li Квалифицированные сотрудники Квалифицированные сотрудники, отнесенные к первому, второму или третьему профессиональному уровню согласно перечню Министерства человеческих ресурсов и эмиратизации, имеющие действующий трудовой договор, степень бакалавра и заработную плату не менее 15,000AED в месяц.
			//card
			.card
				button.card-header#heading2(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse2' aria-expanded='false' aria-controls='collapse2') Виза при покупке недвижимости
				
				#collapse2.collapse(aria-labelledby='heading2' data-parent='#accordionFaq')
					.card-body
						p Если вы приобрели недвижимость в ОАЭ, вы имеете право получить инвестор визу сроком на 2 года или долгосрочную Gold визу сроком на 10 лет.
						p Длительность визы зависит от приобретенной вами недвижимости: в случае если стоимость недвижимости превышает 750,000AED, вы можете подать заявку на 2-ух летнюю инвестор визу. В случае, если стоимость вашей недвижимости составляет более 2,000,000AED, то вы можете получить 10-летюю Gold визу.
						p Если объект находится в совместной собственности, то условия остаются такими же, при этом доли супругов в праве собственности на объект для получения визы должны быть равны. В случае, если доли не равны, владелец самой крупной доли сможет подать заявку в качестве основного держателя визы, а затем спонсировать другую сторону (супруга).
						p Также необходимым условием является готовность объекта – если объект находится на стадии строительства, то готовность объекта должна составлять не менее 50%. Если вы приобрели несколько объектов недвижимости, то при подаче на визу можно учитывать их общую стоимость
						p В случае совместной собственности, доля каждого заявителя должна составлять минимум 750,000 / 2,000,000AED для инвестор визы и золотой визы соответственно. Золотая виза на 10 лет дает вам право быть спонсором 10-летних виз для ваших близких.
			
			//card
			.card
				button.card-header#heading3(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse3' aria-expanded='false' aria-controls='collapse3') Виза талантов
				
				#collapse3.collapse(aria-labelledby='heading3' data-parent='#accordionFaq') 
					.card-body
						p Золотая виза талантов ОАЭ — это долгосрочная виза на жительство, которая позволяет иностранным талантам жить, работать или учиться в ОАЭ. К выдающимся специализированным талантам относятся:
						ul
							li врачи
							li ученые
							li творческие люди культуры и искусства
							li изобретатели
							li специалисты в научных областях
							li спортсмены
							li обладатели докторских степеней
							li специалисты в области техники и науки
			
						p Для каждой специальности требуется письмо-подтверждение квалификации от соответствующего государственного департамента, например, Министерства здравоохранения, Департамента культуры и искусств, Министерства образования и других.
			
			//card
			.card
				button.card-header#heading4(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse4' aria-expanded='false' aria-controls='collapse4') Виза для предпринимателей
				
				#collapse4.collapse(aria-labelledby='heading4' data-parent='#accordionFaq')
					.card-body
						h3 1. Виза инвестора/партнера 
						p Наиболее подходящий тип визы для предпринимателей и инвесторов, желающих открыть свой бизнес или инвестировать в существующий бизнес в ОАЭ. Как правило, процесс получения визы инвестора включает в себя создание компании и прохождение стандартного визового процесса. Виза инвестора дает владельцу право проживать в ОАЭ и приезжать и уезжать по своему желанию в течение всего срока действия визы. Обладатель визы инвестора в Дубае также может стать налоговым резидентом ОАЭ, открыть банковский счет, получить водительские права и т.д. Данная виза также дает ее владельцу разрешение спонсировать своих супругов, детей и родителей для въезда в ОАЭ.
						p Примерный список документов, предоставление которых необходимо для получения визы инвестора в связи с открытием компании на территории ОАЭ (список может быть увеличен в зависимости от конкретных обстоятельств):
						ul
							li Цветная копия паспорта (срок действия не менее 6 месяцев)
							li Фотография на белом фоне.
							li Копия Memorandum of Association
							li Копия торговой лицензии компании
						
						h3 1. Gold виза предпринимателя
						p Такая виза доступна предпринимателям, у которых есть экономический проект технического или будущего характера, основанный на риске и инновациях. 

						p Кроме того, у вас должно быть письмо-подтверждение от каждого из следующих лиц: аудитора ОАЭ: стоимость проекта составляет не менее 500,000AED властей Эмирата: о наличии технического или будущего характера проекта аккредитованного бизнес-инкубатора в ОАЭ: об организации проектной деятельности
			
			//card
			.card
				button.card-header#heading6(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse6' aria-expanded='false' aria-controls='collapse6') Студенческая виза
				
				#collapse6.collapse(aria-labelledby='heading6' data-parent='#accordionFaq')
					.card-body
						h3 1. Студенческая виза
						p Студенты, планирующие обучение в ОАЭ, могут подать заявление на получение студенческой визы. Для этого необходимо получить предложение о зачислении от признанного учебного заведения в ОАЭ. Учебное заведение предоставит необходимые документы, а студент или его опекун должны будут подать заявление в соответствующие иммиграционные органы.
						h3 2. Gold виза студента
						p Данный тип визы выдается студентам университетов или ученикам старших школ. Для учеников старшей школы доступна к получению Gold виза на 5 лет, если ученик является отличником национального уровня (с минимальным баллом 95 процентов в государственной или частной средней школе), имеет рекомендательное письмо от Министерства образования и выполняет иные установленные критерии.

						p Выдающиеся студенты университетов могут получить Gold визу сроком на 10 лет при условии, что: Университет имеет уровень A или B, согласно рейтингу Министерства образования. Предоставляется рекомендательное письмо от университета, академическая справка c подтверждением высокого среднего балла студента и др. условия.

						p Выдающимся студентам зарубежных вузов может быть предоставлена ​​Gold виза сроком на 10 лет при условии, что: Университет входит в число 100 лучших университетов мира по рейтинговой системе, признанной Министерством образования ОАЭ. Совокупный средний балл студента составляет не менее 3,5 и др. условия.  
			
			//card
			.card
				button.card-header#heading7(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse7' aria-expanded='false' aria-controls='collapse7') Осуществление инвестиций
				
				#collapse7.collapse(aria-labelledby='heading7' data-parent='#accordionFaq')
					.card-body
						p Если вы инвестируете в местный инвестиционный фонд, вам может быть предоставлена ​​Gold виза сроком на 10 лет при условии:  представление письма от инвестиционного фонда, аккредитованного в ОАЭ, о том, что инвестор имеет депозит в размере двух миллионов дирхамов, или представление действующей коммерческой или промышленной лицензии и учредительного договора, подтверждающего, что капитал инвестора составляет не менее двух миллионов дирхамов  представление письма от Федерального налогового управления, подтверждающего, что инвестор платит правительству не менее 250 000 (двести пятьдесят тысяч) дирхамов ОАЭ ежегодно.
						p Дополнительно вы должны: 
						ul
							li полностью владеть вложенным капиталом; это не должен быть кредит
							li предоставить подтверждение наличия медицинской страховки для себя и своей семьи (если таковая имеется)

			//card
			.card
				button.card-header#heading8(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse8' aria-expanded='false' aria-controls='collapse8') Family виза
				
				#collapse8.collapse(aria-labelledby='heading8' data-parent='#accordionFaq')
					.card-body
						p Если кто-то из членов вашей семьи уже имеет долгосрочный вид на жительство в ОАЭ, то он может стать спонсором вашей визы.
						p Если же вы сам обладатель 2-ух, 5-ти или 10-ти летней визы, то вы можете сделать визы с соответствующей длительностью своим детям, жене и родителям. Для получения визы спонсор также должен соответствовать определенным критериям, например, требованиям к минимальной заработной плате. 

			//card
			.card
				button.card-header#heading9(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse9' aria-expanded='false' aria-controls='collapse9') Фриланс виза
				
				#collapse9.collapse(aria-labelledby='heading9' data-parent='#accordionFaq')
					.card-body
						p Получение визы фрилансера в ОАЭ позволяет легально предоставлять свои профессиональные услуги клиентам.
						p Для визы фрилансера необходимо выбрать область, в которой вы предоставляете свои экспертные услуги. Это может быть консалтинг, организация мероприятий, образование, кинопроизводство, новые медиа и развлечения, а также если вы художник, певец, фотограф и др. Также необходимо получить лицензию фрилансера от соответствующего органа свободной экономической зоны, размер которого варьируется в зависимости от выбранной области работы.
			
			//card
			.card
				button.card-header#heading10(type='button'  data-bs-toggle='collapse'  data-bs-target='#collapse10' aria-expanded='false' aria-controls='collapse10') Виза для удаленных работников/владельцев бизнеса вне ОАЭ
				
				#collapse10.collapse(aria-labelledby='heading10' data-parent='#accordionFaq')
					.card-body
						p Выдается лицам, трудоустроенным в иностранную компанию или имеющим бизнес не в ОАЭ, и желающим постоянно проживать в ОАЭ.