//SERVECES
section.grid-services
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary О нас
			.h-40 Наши услуги:
		
		.grid-services-content.grid-services-three-column
			//item
			.serv-item-box
				.serv-item(data-aos-offset="200"data-aos="zoom-in" )
					.accent-icon
						i.bi.bi-hand-thumbs-up-fill
					.serv-item__txt Получение визы любого типа
			
			//item
			.serv-item-box
				.serv-item(data-aos-offset="200"data-aos="zoom-in" data-aos-delay="150")
					.accent-icon
						i.bi.bi-x-lg
					.serv-item__txt Отмена визы

			//item
			.serv-item-box
				.serv-item(data-aos-offset="200"data-aos="zoom-in" data-aos-delay="300")
					.accent-icon
						i.bi.bi-bag-plus-fill
					.serv-item__txt Помощь в сдаче медицинского теста
			//item
			.serv-item-box
				.serv-item(data-aos-offset="200"data-aos="zoom-in" data-aos-delay="450")
					.accent-icon
						i.bi.bi-lightning-charge-fill
					.serv-item__txt Помощь в сдаче биометрических данных

			//item
			.serv-item-box
				.serv-item(data-aos-offset="200"data-aos="zoom-in" data-aos-delay="600")
					.accent-icon
						i.bi.bi-fingerprint
					.serv-item__txt Ускорение сдачи биометрических данных
					
				
			//item
			.serv-item-box
				.serv-item(data-aos="zoom-in" data-aos-delay="750")
					.accent-icon
						i.bi.bi-check-lg
					.serv-item__txt Изменение визового статуса
				
			