mixin solve-card(num, title)
	.solve-card
		.solve-card__num !{num}
		.solve-card__title !{title}
		.solve-card__txt
			block
//we solve
section.we-solve
	.container
		.section-header-group
			.round-title.border.border-primary Задачи
			.h-40.mb-4 Мы поможем решить вам следующие<br>юридические задачи:
		
		.we-solve-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					+solve-card('01', 'Полное юридическое сопровождение')
						ul
							li Комплексное юридическое сопровождение создания и/или деятельности компании на абонентской основе (виды оказываемых услуг определяются совместно с клиентом, исходя из его потребностей - могут включать как весь указанный спектр услуг, так и отдельные виды)
				.swiper-slide
					+solve-card('02', 'Консультации')
						ul
							li Правовые вопросы создания и ведения бизнеса в ОАЭ
							li По отдельным вопросам в различных отраслях права
				.swiper-slide
					+solve-card('03', 'Юридический аудит')
						ul
							li Проверка деятельности и операций компании на соответствие местному законодательству (комплаенс)
							li Проверка контрагентов и партнеров
							li Выявление и юридический анализ потенциальных рисков при покупке действующего бизнеса в ОАЭ и заключении сделок (бухгалтерский анализ в данный анализ не входит)
				.swiper-slide
					+solve-card('04', 'Поддержка транзакций')
						ul
							li Проведение переговоров с контрагентами
							li Подготовка коммерческих контрактов, меморандумов о взаимопонимании и их доработка в соответствии с потребностями клиента
							li Регистрация и сопровождение сделок купли-продажи и т.д. (в том числе трансграничных)
				.swiper-slide
					+solve-card('05', 'Разрешение споров и исполнительное производство')
						ul
							li Построение стратегии разрешения споров
							li Подготовка коммерческих контрактов, меморандумов о взаимопонимании и их доработка в соответствии с потребностями клиента
							li Сопровождение судебных разбирательств во внутренних судах ОАЭ, а также в арбитраже: предварительный анализ дела, сбор доказательной базы.
				
				.swiper-slide
					+solve-card('06', 'Корпоративное право')
						ul
							li Юридическое сопровождение создания компании в ОАЭ (нестандартные условия учреждения)
							li Юридическая поддержка при ликвидации компании в ОАЭ
							li Подготовка и проведение сделок по покупке/продаже компании на местном/международном уровне
							li Юридическое сопровождение реорганизации бизнеса
							li Редомициляция бизнеса
							li Подготовка учредительных документов (в том числе устава), акционерных соглашений
							li Подготовка внутренних регламентов и политик
				.swiper-slide
					+solve-card('07', 'Недвижимость')
						ul
							li Структурирование сделок по покупке/продаже недвижимости
							li Юридическое сопровождение сделок по аренде недвижимости
							
				.swiper-slide
					+solve-card('08', 'Семейное <br>и наследственное право')
						ul
							li Юридическая помощь в подготовке  и оформлении завещания
							li Оформление наследственных прав на имущество
							
				.swiper-slide
					+solve-card('09', 'Трудовое и миграционное право')
						ul
							li Юридическое сопровождение оформления и увольнения сотрудников: подготовка трудового договора, соглашения о неразглашении и других документов
							li Правовая поддержка работодателей при разрешении трудовых споров
							
				.swiper-slide
					+solve-card('10', 'Регистрация товарного знака')
						ul
							li Получение правовой охраны вашего бренда
			
			.solve-swiper-pagination
			.swiper-navigation.d-flex
				button.solve-swiper-button-prev.swiper-button-prev
				button.solve-swiper-button-next.swiper-button-next