mixin solve-card(num, title)
	.solve-card
		.solve-card__num.d-flex 
			span !{num}
			span.d-block.d-xl-none/ 10
		.solve-card__title !{title}
		.solve-card__txt
			block
//we solve
section.we-solve
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Задачи
			.h-40 Мы поможем вам с задачами
		
		.we-solve-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					+solve-card('01', 'Ведение налогового и бухгалтерского учета')
						p Учет хозяйственных операций, подготовка и своевременная подача налоговой отчетности, консультирование по налоговому законодательству.
				.swiper-slide
					+solve-card('02', 'Восстановление налогового и бухгалтерского учета')
						p Необходимо для компаний, бухгалтерский учет в которых долгое время не осуществлялся.
				.swiper-slide
					+solve-card('03', 'Постановка на налоговый учет и Корпоративный налог')
						p Регистрация в качестве НДС плательщика в FTA (Federal Tax Authority) ОАЭ, получение налогового номера и доступа в личный кабинет на портале налогоплательщика.
				.swiper-slide
					+solve-card('04', 'Подготовка налоговой учетной политики, настройка системы учетных программ')
						p Подготовим налоговую учетную политику и совместно с представителями программы, в которой клиент желает вести бухгалтерский учет, настроим ее.
				.swiper-slide
					+solve-card('05', 'Консультации по оптимизации налогообложения')
						p Консультирование по снижению налоговой  нагрузки на бизнес в ОАЭ.
				
				.swiper-slide
					+solve-card('06', 'Проведение аудита – внутренний и внешний ')
						p 
				.swiper-slide
					+solve-card('07', 'Разработка политики учета НДС')
						p Составим детальный план учета НДС для вашей компании в соответствии с требованиями законодательства ОАЭ и с учетом специфики бизнеса.
							
				.swiper-slide
					+solve-card('08', 'Формирование налоговых групп')
						p Создание или присоединение к налоговой группе в ОАЭ для сдачи объединенной отчётности.

							
				.swiper-slide
					+solve-card('09', 'Подтверждение экономического присутствия')
						p Подтверждение факта ведения операционной деятельности, наличия центра управления и налоговой принадлежности компании к ОАЭ.
							
				.swiper-slide
					+solve-card('10', 'Регистрация/снятие с учета акциза')
						p Мы уверены в качестве наших услуг, наши клиенты доверяют нам самые важные финансовые вопросы.
							
			.swiper-navigation.d-flex
				button.solve-swiper-button-prev.swiper-button-prev
				button.solve-swiper-button-next.swiper-button-next