//WORK STAGES
section.work-stages.money-transfers-stages.work-stages-four-item
	.container
		.section-header-group.mb-5
			.round-title.border.border-primary Этапы
			h2.h-40 Этапы работы
		
		.work-stages-content
			.work-stages-img
				img.d-none.d-md-block(src='./img/wave4.webp',  srcset='./img/wave4@2x.webp 2x' width='1354' height='143' loading='lazy' alt='img')
				img.d-block.d-md-none(src='./img/wave4-mobile.webp',  srcset='./img/wave4-mobile@2x.webp 2x' width='218' height='700' loading='lazy' alt='img')
			
			.work-stages-list.d-flex
				.work-stage-item.d-flex(data-aos="zoom-in"  data-aos-duration="500")
					p.txt-16 Расскажем все тонкости проведения платежей по международным сделкам
					span.work-stage-icon.d-flex
						svg(width='13' height='26' viewBox='0 0 13 26' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M0.0722656 7.74516V2.82891C3.77727 2.82891 6.34227 2.18766 8.33727 0.691406H12.5766V25.6289C12.5766 25.6289 9.47388 26.1203 7.58914 25.6289C0.35981 23.7442 7.58914 6.49828 7.58914 6.49828C5.45164 7.35328 3.13602 7.74516 0.0722656 7.74516Z' fill='white')
				
				.work-stage-item.d-flex(data-aos="zoom-in"  data-aos-duration="500" data-aos-delay="150")
					p.txt-16 Поможем выбрать оптимальное решение<br>для вас
					span.work-stage-icon.d-flex
						svg(width='19' height='26' viewBox='0 0 19 26' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M9.5508 0.660156C15.0713 0.660156 18.6952 3.9119 18.6952 9.12169C18.6952 17.863 6.09626 14.9609 5.08021 20.7651H19V25.6602H0V22.4084C0 9.85596 13.9537 15.2755 13.9537 8.87694C13.9537 6.67414 12.1248 5.34547 9.51693 5.34547C6.57041 5.34547 4.74153 7.19862 4.74153 10.4504H0C0 4.54128 3.89483 0.660156 9.5508 0.660156Z' fill='white')
				
				.work-stage-item.d-flex(data-aos="zoom-in"  data-aos-duration="500" data-aos-delay="300")
					p.txt-16 Возьмем документооборот<br>и проведение платежей<br>по сделке на себя
					span.work-stage-icon.d-flex
						svg(width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M11.9231 5.55526H1.32867V0.660156H18.986V4.75107L12.7273 10.1357C16.4685 10.6602 20 12.6182 20 17.3734C20 22.2336 16.014 25.6602 10.4545 25.6602C4.58042 25.6602 0 21.2196 0 15.5902H4.8951C4.8951 18.7371 7.23776 20.9748 10.4895 20.9748C13.1469 20.9748 15.1049 19.4713 15.1049 17.4084C15.1049 15.1706 13.4266 13.772 10.7343 13.772H8.53147L6.53846 10.8699L11.9231 5.55526Z' fill='white')
				
				.work-stage-item.d-flex(data-aos="zoom-in"  data-aos-duration="500" data-aos-delay="450")
					p.txt-16 Окажем дополнительные юридические услуги<br>при необходимости
					span.work-stage-icon.d-flex
						svg(width='23' height='26' viewBox='0 0 23 26' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M0 20.8387V16.5887L13.9394 0.660156H19.075V15.8387H23V20.8387H19.075V25.6602H13.9394V20.8387H0ZM6.85965 15.8387H13.9394V7.62444L6.85965 15.8387Z' fill='white')