.arrow-orange-right{
	width: 32px;
	height: 33px;
	display: inline-block;
	flex-shrink:0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_114_16803)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0.660156C7.16352 0.660156 0 7.82368 0 16.6602C0 25.4968 7.16352 32.6602 16 32.6602C24.8366 32.6602 32 25.4968 32 16.6602C32 7.82368 24.8366 0.660156 16 0.660156ZM13.9314 25.7915L21.9314 17.7915C22.5563 17.1667 22.5563 16.1536 21.9314 15.5288L13.9314 7.52873C13.3066 6.90393 12.2935 6.90393 11.6687 7.52873C11.0439 8.15353 11.0439 9.16665 11.6687 9.79145L18.5373 16.6601L11.6687 23.5288C11.0439 24.1536 11.0439 25.1667 11.6687 25.7915C12.2935 26.4163 13.3066 26.4163 13.9314 25.7915Z' fill='%23F5802A' /%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_114_16803'%3e%3crect width='32' height='32' fill='white' transform='translate(0 0.660156)' /%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.accent-icon{
	position: relative;
	width: 2.5rem;
    height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 1;
		
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #f5802a;
		-webkit-filter: blur(9px);
		filter: blur(9px);
	}
	i{font-size: remy(16);color: white; position: relative;
	z-index: 2;}
	
	@media (min-width: 768px) {
		width: 3.125rem;
    	height: 3.125rem;
		i{font-size: remy(24);}
	}
}