extends ../layouts/layout.pug

block content
	header.header#header.flex-shrink-0
		.container
			nav.navbar.navbar-expand-xxl.py-0#nav-cont
				.container-fluid.nav-content
					a.navbar-brand.flex-shrink-0(href='#!')
						img#logo-img.logo-img(src='https://in-sight.ae/img/logo.svg' alt='logo' width="121" height="81")
					button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='true' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					.navbar-collapse.collapse#navbarSupportedContent.flex-grow-1.justify-content-between
						ul.navbar-nav.d-flex.gap-4
							li.nav-item
								a.nav-link.txt-20( href='#!') О нас
								
							li.nav-item
								a.nav-link.txt-20( href='#!') Партнерам
								
							li.nav-item
								a.nav-link.txt-20( href='#!') Контакты
							
							
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.txt-20(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').
									Услуги 
								
								ul.dropdown-menu
									li
										a.dropdown-item( href='index.html') Главная
									
									li
										a.dropdown-item.text-wrap( href='business-support.html') Открытие и релокация бизнеса
									li
										a.dropdown-item.text-wrap( href='buhgaltery-services.html') Бухгалтерские услуги
									li
										a.dropdown-item.text-wrap( href='registr-account.html') Корпоративный и личный банковский счет
									li
										a.dropdown-item.text-wrap( href='urist-service.html') Юридические услуги
									li
										a.dropdown-item.text-wrap( href='viza-page.html') Оформление резидентской визы ОАЭ
									li
										a.dropdown-item.text-wrap( href='legal-docs.html') Легализация документов
									li
										a.dropdown-item.text-wrap( href='real-estate.html') Услуги Real Estate
									li
										a.dropdown-item.text-wrap( href='money-transfers.html') Денежные переводы
							
							
								
						.header-column.d-flex.flex-column.flex-lg-row
							a.fw-bold.text-decoration-none.link-primary.phone-link(href='tel:+971521258037' target='_blank') +971 521 25 8037
							.d-flex.align-items-center.gap-4
								.dropdown.lang-dropdown
									a.d-flex.dropdown-toggle.align-items-center.fw-bold.text-decoration-none.link-primary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
										img(src='./img/ru.webp', srcset='./img/ru@2x.webp 2x' width='40' height='27' loading='lazy' alt='img')
									ul.dropdown-menu.dropdown-menu-end
										li.list-unstyled.text-center.bg-primary
											a.dropdown-item.link-light.fw-bold(data-lang='ru' href='#') RU
										li.list-unstyled.text-center
											a.dropdown-item(data-lang='en' href='#') EN
				
								button.btn.btn-primary(type='button') Оставить заявку
	//MAIN
	main.main-column.d-flex.flex-column
		include ../sections/_about-page-hero
		include ../sections/_aboutus
		include ../sections/_about-page-benefits
		include ../sections/_about-page-branch
		include ../sections/_about-page-cta
		
	
	//FOOTER
	footer.footer
		.container
			//FOOTER TOP
			.footer-content.row
				.col-lg-3.footer-column.d-flex.justify-content-center.d-lg-block.order-1
					.footer-logo
						img(src='https://in-sight.ae/img/logo2.svg' width='150' height='100' loading='lazy' alt='img')
					p.txt-14.d-none.d-xl-block All rights reserved<br>Insight Business Services, 2025
				
				.col-lg-2.order-2
					nav.footer-menu
						a(href="#!") Услуги
						a(href="#!") Контакты
						a(href="#!") О нас

				.col-lg-4.col-xl-3.offset-xl-1.footer-address.order-4.order-lg-3
					address.text-white.
						Office 813, B2B Tower, Marasi Drive,
						Business Bay, Dubai, UAE
					p.text-white.mb-1 PO Box: №390154
					a(href="#!").txt-14.link-primary Показать на карте
				
				.col-lg-3.order-3
					.social-box.d-flex.flex-wrap
						a(href="#!").social-item
							i.bi.bi-linkedin
							
						a(href="").social-item
							i.bi.bi-instagram
							
						
						a(href="#!").social-item
							i.bi.bi-whatsapp

						a(href="#!").social-item
							i.bi.bi-telegram
						a(href="#!").social-item
							i.bi.bi-telephone-fill
						
						a(href="#!").social-item
							i.bi.bi-envelope-fill
	
			.footer-bottom.row
				.col-lg-4.d-flex
					a(href="").link-primary Политика обработки персональных данных
				.col-lg-4.d-flex
					a(href="").link-primary Правила оказания услуг
				.col-lg-4.d-flex
					a(href="document.pdf" download).link-primary.d-flex.align-items-center.gap-2
						i.bi.bi-filetype-pdf
						span Скачать презентацию

	

block variables
	-var title = "INSIGHT";
