extends ../layouts/layout.pug

block content
	
	include ../sections/_header
	main.main-column.d-flex.flex-column
		include ../sections/_business-support-hero
		include ../sections/_business-support-aboutus
		include ../sections/_advantage
		include ../sections/_business-support-process.pug
		include ../sections/_service-price.pug
		include ../sections/_work-stages
		include ../sections/_business-support-faq.pug

block variables
	-var title = "Открытие бизнеса";
		