extends ../layouts/layout.pug

block content
	header.header#header.flex-shrink-0
		.container
			nav.navbar.navbar-expand-xxl.py-0#nav-cont
				.container-fluid.nav-content
					a.navbar-brand.flex-shrink-0(href='#!')
						img#logo-img.logo-img(src='https://in-sight.ae/img/logo.svg' alt='logo' width="121" height="81")
					button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='true' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					.navbar-collapse.collapse#navbarSupportedContent.flex-grow-1.justify-content-between
						ul.navbar-nav.d-flex.gap-4
							li.nav-item
								a.nav-link.txt-20( href='#!') О нас
								
							li.nav-item
								a.nav-link.txt-20( href='#!') Партнерам
								
							li.nav-item
								a.nav-link.txt-20( href='#!') Контакты
							
							
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle.txt-20(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false').
									Услуги 
								
								ul.dropdown-menu
									li
										a.dropdown-item( href='index.html') Главная
									
									li
										a.dropdown-item.text-wrap( href='business-support.html') Открытие и релокация бизнеса
									li
										a.dropdown-item.text-wrap( href='buhgaltery-services.html') Бухгалтерские услуги
									li
										a.dropdown-item.text-wrap( href='registr-account.html') Корпоративный и личный банковский счет
									li
										a.dropdown-item.text-wrap( href='urist-service.html') Юридические услуги
									li
										a.dropdown-item.text-wrap( href='viza-page.html') Оформление резидентской визы ОАЭ
									li
										a.dropdown-item.text-wrap( href='legal-docs.html') Легализация документов
									li
										a.dropdown-item.text-wrap( href='real-estate.html') Услуги Real Estate
									li
										a.dropdown-item.text-wrap( href='money-transfers.html') Денежные переводы
							
							
								
						.header-column.d-flex.flex-column.flex-lg-row
							a.fw-bold.text-decoration-none.link-primary.phone-link(href='tel:+971521258037' target='_blank') +971 521 25 8037
							.d-flex.align-items-center.gap-4
								.dropdown.lang-dropdown
									a.d-flex.dropdown-toggle.align-items-center.fw-bold.text-decoration-none.link-primary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
										img(src='./img/ru.webp', srcset='./img/ru@2x.webp 2x' width='40' height='27' loading='lazy' alt='img')
									ul.dropdown-menu.dropdown-menu-end
										li.list-unstyled.text-center.bg-primary
											a.dropdown-item.link-light.fw-bold(data-lang='ru' href='#') RU
										li.list-unstyled.text-center
											a.dropdown-item(data-lang='en' href='#') EN
				
								button.btn.btn-primary(type='button') Оставить заявку
	//MAIN
	main.main-column.d-flex.flex-column
		//HERO
		section.hero.hero--main
			.container
				.row.align-items-center
					.col-12.col-lg-6.col-xxl-5.hero-content
						h1.h-48.mb-50  Регистрация<br>компаний в ОАЭ
						.hero-text.txt-20
							p Открытие и сопровождение бизнеса в&nbsp;Объединенных Арабских Эмиратах
							p Бухгалтерское сопровождение фирм, регистрации&nbsp;фрашиз, открытие счетов и виз, оформление и продление лицензий
						
						//hero-img
						.hero-img-group
							img.hero-img.round-106.object-fit-cover(src='./img/hero.webp', srcset='./img/hero@2x.webp 2x' width='784' height='531' loading='lazy' alt='img')
							
							//benefit-label
							.benefit-chips.d-flex.align-items-center
								.benefit-chips__img
									img(src='./img/hero-icon.webp', srcset='./img/hero-icon@2x.webp 2x' width='43' height='53' loading='lazy' alt='img')
								.benefit-chips__txt
									.fw-bold Insight в Дубае!
									p.mb-0 Мы расширяемся, поэтому теперь мы предоставляем бизнес-услуги  в Объединённых Арабских Эмиратах
							
							//benefit-label
							.benefit-chips.d-flex.align-items-center
								.benefit-chips__img
									img(src='./img/hero-icon2.webp', srcset='./img/hero-icon2@2x.webp 2x' width='83' height='53' loading='lazy' alt='img')
								.benefit-chips__txt
									.fw-bold Insight в Дубае!
									p.mb-0 Мы расширяемся, поэтому теперь мы предоставляем бизнес-услуги  в Объединённых Арабских Эмиратах
							
							//benefit-label
							.benefit-chips.d-flex.align-items-center
								.benefit-chips__img +250
									
								.benefit-chips__txt
									.fw-bold Успешных<br>проектов
									
						.btn-wrapper.d-flex.lg-d-block
							button.btn.btn-primary.w-lg-100(type='button') Оставить заявку
		include ../sections/_partners-short
		include ../sections/_our-service
		include ../sections/_partners-large
		include ../sections/_form-accent
		include ../sections/_our-benefits
		include ../sections/_aboutus
		include ../sections/_review
		include ../sections/_sertificates
		include ../sections/_contacts-form
	
	//FOOTER
	footer.footer
		.container
			//FOOTER TOP
			.footer-content.row
				.col-lg-3.footer-column.d-flex.justify-content-center.d-lg-block.order-1
					.footer-logo
						img(src='https://in-sight.ae/img/logo2.svg' width='150' height='100' loading='lazy' alt='img')
					p.txt-14.d-none.d-xl-block All rights reserved<br>Insight Business Services, 2025
				
				.col-lg-2.order-2
					nav.footer-menu
						a(href="#!") Услуги
						a(href="#!") Контакты
						a(href="#!") О нас

				.col-lg-4.col-xl-3.offset-xl-1.footer-address.order-4.order-lg-3
					address.text-white.
						Office 813, B2B Tower, Marasi Drive,
						Business Bay, Dubai, UAE
					p.text-white.mb-1 PO Box: №390154
					a(href="#!").txt-14.link-primary Показать на карте
				
				.col-lg-3.order-3
					.social-box.d-flex.flex-wrap
						a(href="#!").social-item
							i.bi.bi-linkedin
							
						a(href="").social-item
							i.bi.bi-instagram
							
						
						a(href="#!").social-item
							i.bi.bi-whatsapp

						a(href="#!").social-item
							i.bi.bi-telegram
						a(href="#!").social-item
							i.bi.bi-telephone-fill
						
						a(href="#!").social-item
							i.bi.bi-envelope-fill
	
			.footer-bottom.row
				.col-lg-4.d-flex
					a(href="").link-primary Политика обработки персональных данных
				.col-lg-4.d-flex
					a(href="").link-primary Правила оказания услуг
				.col-lg-4.d-flex
					a(href="document.pdf" download).link-primary.d-flex.align-items-center.gap-2
						i.bi.bi-filetype-pdf
						span Скачать презентацию

	//cookie
	.cookie-popup
		.d-flex.flex-column
			.h-28 Cookie settings
			
			p.txt-12.mb-0 We use cookies to provide you with the best possible experience. They also allow us to analyze user behavior in order to constantly improve the website for you.
			
			.cookie-popup-buttons.d-flex
				button.btn.btn-primary Accept All
				button.btn.btn-light-blue Accept Selection
				button.btn.btn-grey Accept All
			
			.cookie-popup-row.d-flex
				.d-flex.gap-2.txt-12.cookie-popup-direction
					span
					| Necessary
				.d-flex.gap-2.txt-12.cookie-popup-direction
					span
					| Analytics
				.d-flex.gap-2.txt-12.cookie-popup-direction
					span
					| Preferences
				.d-flex.gap-2.txt-12.cookie-popup-direction
					span
					| Marketing

block variables
	-var title = "INSIGHT";
