extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 INSIGHT
		.start-page__cards
			//- a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="home.html")
				span Главная
			a(href="business-support.html" target="_blank")
				span Открытие и сопровождение бизнеса
			a(href="registr-account.html" target="_blank")
				span Регистрация счетов
			a(href="money-transfers.html" target="_blank")
				span Денежные перводы
			a(href="buhgaltery-services.html" target="_blank")
				span Бухгалтерские услуги
			a(href="urist-service.html" target="_blank")
				span Юридические услуги
			a(href="legal-docs.html" target="_blank")
				span Легализация документов
			a(href="real-estate.html" target="_blank")
				span Real Estate
			

block variables
	-var title = "INSIGHT";
