extends ../layouts/layout.pug

block content
	
	include ../sections/_header
	
	main.main-column.d-flex.flex-column
		include ../sections/_page-partners-hero
		include ../sections/_page-partners-advantage
		include ../sections/_page-partners-service-price
		include ../sections/_buhgaltery-services-aboutus
		include ../sections/_we-solve-buhgalter
		include ../sections/_buhgalter-cta
		include ../sections/_buhgalter-service-price
		include ../sections/_form-accent
		include ../sections/_buhgaltery-packaje
		include ../sections/_add-services
		include ../sections/_tax-conditions
		include ../sections/_contacts-form-woomen
	
	include ../sections/_footer
block variables
	-var title = "Партнерские программы";