extends ../layouts/layout.pug

block content
	
	include ../sections/_header
	main.main-column.d-flex.flex-column
		include ../sections/_registr-account-hero
		include ../sections/_registr-account-aboutus
		include ../sections/_registr-account-advantage
		include ../sections/_tax-conditions
		include ../sections/_contacts-form
	include ../sections/_footer