extends ../layouts/layout.pug

block content
	
	include ../sections/_header
	main.main-column.d-flex.flex-column
		include ../sections/_viza-hero
		include ../sections/_viza-process
		include ../sections/_we-solve-real
		include ../sections/_real-service-grid
		include ../sections/_real-process
		include ../sections/_contacts-form
	include ../sections/_footer

block variables
	-var title = "Резидентские визы в ОАЭ";