include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		meta(name='robots' content='noindex, nofollow')
		//BOOTSTRAP
		link(rel="stylesheet" href="./libs/bootstrap/bootstrap.css")
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css')
		//========= swiper slider ==============
		link(rel="stylesheet"  href="./libs/swiper/swiper.min.css")

		//========= custom styles ========
		link(rel="stylesheet"  href="./fonts/fonts.css")
		//==========AOS========
		link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
		//==========main.css========
		link(rel="stylesheet"  href="./css/main.css")
		title !{title}
		
	body(class=(bodyCl !=="" ? bodyCl : ''))
		.page-wrapper.overflow-hidden
			block content
		
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		//========= swiper slider =================
		script(src="./libs/swiper/swiper.js")
		//BOOTSTRAP
		script(src="./libs/bootstrap/bootstrap.min.js")
		//=======AOS ====
		script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
		script.
			AOS.init({
				once: true,
				duration:700,
				offset: 300,
			});
		
		script(src="./js/main.js")